<div class='expanded-options-wrapper'>
    <div class='expanded-options-btn flex-center-center-row'>
        <i class="fa-solid fa-caret-down"></i>
    </div>
    <div class='expanded-options-dropdown dropdown'>
        <ul>
            <li class='collapse-group'><i class="fa-regular fa-minimize"></i>Hide This Department</li>
            <li class='expand-group'><i class="fa-regular fa-maximize"></i>Show This Department</li>
            <li class='collapse-all-groups'><i class="fa-regular fa-minimize"></i>Hide All Departmens</li>
            <li class='expand-all-groups'><i class="fa-regular fa-maximize"></i>Show All Departments</li>
        </ul>
    </div>
</div>