<nav class="navbar-main">
    <div class="column column-left">
        <ul class="full-width flex-center-left-row main-navbar-links">
            <li class="navbar-links"><a href='/tickets' class="flex-center-center-row tickets"><i class="fa-regular fa-table-tree"></i> Order Workflow</a></li>
            <li class="navbar-links nav-dropdown-trigger" id="material-dropdown-trigger">
                <a href="/material-inventory" class="material flex-center-center-row"><i class="fa-regular fa-toilet-paper"></i> Inventory</a>
            </li>
            <li class="navbar-links nav-dropdown-trigger" id="insights-dropdown-trigger">
                <div class="insights flex-center-center-row">
                    <i class="fa-regular fa-chart-network"></i>Insights
                    <svg xmlns="http://www.w3.org/2000/svg" width="22px" height="22px" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg>
                </div>
                <ul class="dropdown-menu insights-dropdown">
                    <li><a href="/recipes/create"><i class="fa-solid fa-list-timeline"></i>Master Log</a></li>
                    <li><a href="/recipes?pageNumber=1"><i class="fa-regular fa-layer-group"></i>Dashboard</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="column column-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="42px" height="42px" viewBox="0 0 225.97 290.05"><defs><style>.scls-1{fill:#00cfe8;}.scls-2{fill:#7367f0;}.scls-3{fill:#ea5455;}.scls-4{fill:#fcd61a;}.scls-5{fill:#28c76f;}.scls-6{fill:#2ab8fa;}.scls-7{fill:#ff9f43;}</style></defs><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><rect class="scls-1" x="0.23" y="142.35" width="54" height="120.69"/><rect class="scls-2" width="224.81" height="54" rx="27"/><rect class="scls-3" x="88.76" y="119.77" width="137.21" height="54" rx="27"/><rect class="scls-4" y="236.05" width="137.21" height="54" rx="27"/><circle class="scls-5" cx="198.57" cy="27" r="27"/><circle class="scls-6" cx="27.23" cy="142.35" r="27"/><circle class="scls-7" cx="194.57" cy="263.05" r="27"/></g></g></svg>
    </div>
    <div class="column column-right">
        <ul class="primary">
            <li class='settings-option settings tooltip-bottom'>
                <span class='tooltiptext'>Settings</span>
                <i class="fa-regular fa-gear"></i>
            </li>
            <li class="activity-option tooltip-bottom">
                <span class="tooltiptext">Calendar</span>
                <i class="fa-regular fa-calendar"></i>
            </li>
            <li class="team-chat-option tooltip-bottom">
                <span class="tooltiptext">Team Chat</span>
                <div class='notification-counter'>3</div>
                <i class="fa-regular fa-message"></i>
            </li>
            <li class="notification-option tooltip-bottom">
                <span class="tooltiptext">Notifications</span>
                <div class='notification-counter'>1</div>
                <i class="fa-regular fa-bell"></i>
                <div class="notification-teaser-dropdown">
                    <div class="header">
                    Notifications
                    </div>
                    <ul>
                        <li>Sam Tarrant asked you do better</li>
                        <li>Sam Tarrant asked you do better</li>
                        <li>Sam Tarrant asked you do better</li>
                        <li>Sam Tarrant asked you do better</li>
                        <li>Sam Tarrant asked you do better</li>
                        <li>Sam Tarrant asked you do better</li>
                        <li>Sam Tarrant asked you do better</li>
                        <li>Sam Tarrant asked you do better</li>
                        <li>Sam Tarrant asked you do better</li>
                        <li>Sam Tarrant asked you do better</li>
                    </ul>
                    <div class="footer flex-center-center-row">
                    <a href='#' class="btn btn-primary">See All Notifications</a>
                    </div>
                </div>
            </li>
            <li class="list-item-user-detail nav-dropdown-trigger">
                <div class="user-frame">
                    <div class="user-details">
                        <span class="user-name"></span>
                        <span class="job-role"></span>
                    </div>
                    <div class="user-profile-picture profile-picture">
                        <div class="active-user"></div>
                    </div>
                </div>
                <ul class="dropdown-menu user-options">
                    <li><a href="/users/profile/"><i class="fa-regular fa-user"></i>Account</a></li>
                    <li><a href="#"><i class="fa-regular fa-books"></i>Resources</a></li>
                    <li><a href="/users/logout"><i class="fa-regular fa-right-from-bracket"></i>Log Out</a></li>
                </ul>
            </li>
       </ul>
    </div>
</nav>

<div class='full-page-curtain'>
    <div class='full-page-curtain-wrapper'>
        <div class='full-page-curtain-container flex-center-center-row full-width'>
            <div class='left-col parent flex-top-right-row'>
                <div class='left-options-frame flex-top-left-row'>
                    <div class='left-col child'>
                        <h5>SETTINGS</h5>
                        <ul>
                            <li>
                                <a href='' class='dropdown-option flex-center-left-column'>
                                    <h6>Finishes</h6>
                                    <p>Build project plans, coordinate tasks, and hit deadlines</p>
                                </a>
                            </li>
                            <li>
                                <a href='' class='dropdown-option flex-center-left-column'>
                                    <h6>Materials</h6>
                                    <p>Build project plans, coordinate tasks, and hit deadlines</p>
                                </a>
                            </li>
                            <li>
                                <a href='' class='dropdown-option flex-center-left-column'>
                                    <h6>Machines</h6>
                                    <p>Build project plans, coordinate tasks, and hit deadlines</p>
                                </a>
                            </li>
                            <li>
                                <a href='' class='dropdown-option flex-center-left-column'>
                                    <h6>Vendors</h6>
                                    <p>Build project plans, coordinate tasks, and hit deadlines</p>
                                </a>
                            </li>
                            <li>
                                <a href='' class='dropdown-option flex-center-left-column'>
                                    <h6>Recipes</h6>
                                    <p>Build project plans, coordinate tasks, and hit deadlines</p>
                                </a>
                            </li>
                            <li>
                                <a href='' class='dropdown-option flex-center-left-column'>
                                    <h6>Future Link</h6>
                                    <p>Build project plans, coordinate tasks, and hit deadlines</p>
                                </a>
                            </li>
                            <li>
                                <a href='' class='dropdown-option flex-center-left-column'>
                                    <h6>Future Link</h6>
                                    <p>Build project plans, coordinate tasks, and hit deadlines</p>
                                </a>
                            </li>
                            <li>
                                <a href='' class='dropdown-option flex-center-left-column'>
                                    <h6>Future Link</h6>
                                    <p>Build project plans, coordinate tasks, and hit deadlines</p>
                                </a>
                            </li>
                            <li>
                                <a href='' class='dropdown-option flex-center-left-column'>
                                    <h6>Future Link</h6>
                                    <p>Build project plans, coordinate tasks, and hit deadlines</p>
                                </a>
                            </li>
                            <li>
                                <a href='' class='dropdown-option flex-center-left-column'>
                                    <h6>Future Link</h6>
                                    <p>Build project plans, coordinate tasks, and hit deadlines</p>
                                </a>
                            </li>
                            <li>
                                <a href='' class='dropdown-option flex-center-left-column'>
                                    <h6>Future Link</h6>
                                    <p>Build project plans, coordinate tasks, and hit deadlines</p>
                                </a>
                            </li>
                            <li>
                                <a href='' class='dropdown-option flex-center-left-column'>
                                    <h6>Future Link</h6>
                                    <p>Build project plans, coordinate tasks, and hit deadlines</p>
                                </a>
                            </li>
                            <li>
                                <a href='' class='dropdown-option flex-center-left-column'>
                                    <h6>Future Link</h6>
                                    <p>Build project plans, coordinate tasks, and hit deadlines</p>
                                </a>
                            </li>
                            <li>
                                <a href='' class='dropdown-option flex-center-left-column'>
                                    <h6>Future Link</h6>
                                    <p>Build project plans, coordinate tasks, and hit deadlines</p>
                                </a>
                            </li>
                            <li>
                                <a href='' class='dropdown-option flex-center-left-column'>
                                    <h6>Future Link</h6>
                                    <p>Build project plans, coordinate tasks, and hit deadlines</p>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class='right-col parent flex-top-left-row'>
                <div class='right-options-frame'>
                    <div class='left-col child'>
                        <h5>ADMIN</h5>
                        <ul>
                            <li>
                                <a href='' class='dropdown-option flex-center-left-column'>
                                    <h6>Users</h6>
                                    <p>Build project plans, coordinate tasks, and hit deadlines</p>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class='footer flex-center-center-row'>
                <div class='left-col child flex-center-right-row'>
                    <div class='left-options-frame flex-center-left-row'>
                        <a href='#'>Resources</a>
                        <span>|</span>
                        <a href='#'>Account</a>
                    </div>
                </div>
                <div class='right-col child flex-center-left-row'>
                    <div class='right-options-frame flex-center-left-row'>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>