<nav class="navbar-main">
    <div class="column column-left">
        <ul class="full-width flex-center-left-row main-navbar-links">
            <li class="navbar-links"><a href='/tickets' class="flex-center-center-row tickets"><i class="fa-sharp fa-solid fa-ticket"></i>Tickets</a></li>
            <li class="navbar-links nav-dropdown-trigger" id="material-dropdown-trigger">
                <div class="material flex-center-center-row">
                    <i class="fa-regular fa-toilet-paper"></i> Materials
                    <svg xmlns="http://www.w3.org/2000/svg" width="22px" height="22px" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg>
                </div>
                <ul class="dropdown-menu material-dropdown">
                    <li><a href="/material-inventory"><i class="fa-sharp fa-solid fa-cubes-stacked"></i>Inventory</a></li>
                    <li><a href="/material-orders/create"><svg xmlns="http://www.w3.org/2000/svg" width="22px" height="22px" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus-circle"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="8" x2="12" y2="16"></line><line x1="8" y1="12" x2="16" y2="12"></line></svg>Create Purchase Order</a></li>
                    <li><a href="/material-orders"><i class="fa-regular fa-layer-group"></i>View Purchase Orders</a></li>
                </ul>
            </li>
            <li class="navbar-links nav-dropdown-trigger" id="recipe-dropdown-trigger">
                <div class="recipes flex-center-center-row">
                    <i class="fa-light fa-hat-chef"></i>Recipes
                    <svg xmlns="http://www.w3.org/2000/svg" width="22px" height="22px" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg>
                </div>
                <ul class="dropdown-menu recipe-dropdown">
                    <li><a href="/recipes/create"><svg xmlns="http://www.w3.org/2000/svg" width="22px" height="22px" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus-circle"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="8" x2="12" y2="16"></line><line x1="8" y1="12" x2="16" y2="12"></line></svg>Create New Recipe</a></li>
                   <li><a href="/recipes?pageNumber=1"><i class="fa-regular fa-layer-group"></i>View All Recipes</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="column column-center">
        <svg width="54" height="38" viewBox="0 0 54 38" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M18.644 0C18.9124 0 19.1863 0 19.4546 0C22.0727 2.08677 24.7072 3.55463 28.4151 3.06717C32.742 2.50303 37.1785 2.71116 41.5492 3.2972C43.4771 3.55463 45.531 3.65321 47.0263 5.09369C49.7046 7.66792 51.2984 10.8118 51.4134 14.58C51.4737 16.601 51.512 18.6385 51.3532 20.6541C51.1012 23.8801 51.4134 26.9637 52.9196 29.883C53.1716 30.3704 53.5549 30.9346 53.1551 31.5918C52.0323 33.4321 50.9314 35.2888 49.8251 37.1456C49.6388 37.4632 49.3595 37.6714 49.0035 37.6166C47.1796 37.3208 45.3393 37.6659 43.4114 37.6878C43.7619 36.5595 44.3315 35.853 44.9669 35.2943C46.0897 34.303 45.8761 33.5197 45.2626 32.2381C43.4881 28.5356 40.8043 26.3393 36.7074 25.8409C35.7161 25.7204 34.7138 25.4191 33.8046 25.0029C32.2272 24.2854 31.685 24.9591 31.3016 26.4105C30.6498 28.8861 29.9049 31.3399 29.0669 33.7553C28.5082 35.36 27.5388 37.1237 25.8245 37.2715C23.6884 37.4523 21.4921 37.3099 18.9124 37.8302C19.9421 36.4938 20.917 35.8968 21.8536 35.2724C22.4506 34.8726 22.9435 34.4728 22.7299 33.6567C21.6893 29.5762 21.985 24.9317 17.7896 22.1986C17.0173 21.6947 16.749 20.8293 16.4696 19.9804C16.2889 19.4272 16.256 18.6659 15.5659 18.4906C13.1341 17.8772 13.6873 16.1848 14.0487 14.5252C14.1966 13.8515 14.3609 13.1614 14.0049 12.0551C13.4463 13.6927 12.8986 14.9196 12.6192 16.2067C12.3399 17.4774 11.6553 17.9813 10.4284 18.1182C8.01848 18.3866 5.60309 18.6878 3.2096 19.0767C2.16896 19.2465 1.61577 18.9069 1.08997 18.036C0.597034 17.2145 0.317703 16.5463 0.94209 15.6699C3.02886 12.7616 3.69706 9.42606 3.62038 5.9262C3.60943 4.96771 4.21739 4.65552 4.80891 4.23926C5.54832 3.71894 5.74001 4.38714 5.97553 4.83079C6.25486 5.35111 6.59992 5.18132 6.98331 5.01701C10.8666 3.33007 14.8813 1.97175 18.644 0ZM29.9049 14.6074C29.4832 12.9807 27.9715 12.1098 28.1029 10.5982C28.2946 8.30326 28.2508 8.1499 25.9778 7.72816C26.1805 12.2796 26.0326 11.8305 29.9049 14.6074Z"></path>
            <path d="M0 31.2085C1.79101 27.9825 3.59844 24.7675 5.37302 21.5305C5.78928 20.7692 6.27674 20.2982 7.21332 20.205C8.54973 20.0681 9.85875 19.7012 11.1897 19.5149C13.9282 19.1261 15.2318 20.1229 15.7247 22.7847C15.8616 23.5132 15.5275 23.9185 15.1113 24.3731C13.6982 25.9122 12.2632 27.4403 10.8939 29.0177C10.286 29.7242 9.55203 30.2664 8.68118 30.2884C4.8746 30.3979 3.77919 33.1803 2.78784 36.0941C2.57971 36.7075 2.42635 37.3374 2.23465 38.0001C1.01874 37.5729 0.739406 36.4008 0 35.6668C0 34.1771 0 32.6928 0 31.2085Z"></path>
            <path d="M31.0387 35.5188C30.973 35.0369 31.192 34.6316 31.4988 34.4234C33.7882 32.8898 33.4103 30.7373 33.0049 28.5082C32.5777 26.153 32.6763 26.1092 35.0424 26.7719C36.5322 27.1882 38.011 27.6428 39.5062 28.0207C40.5852 28.2946 41.2808 28.6889 40.5578 29.9213C40.525 29.976 40.525 30.0527 40.5031 30.113C39.9608 31.7013 39.7965 33.6238 38.7723 34.7904C37.7262 35.9899 35.7544 34.7904 34.199 35.1245C33.1693 35.349 32.0958 35.3929 31.0387 35.5188Z"></path>
          </svg>
    </div>
    <div class="column column-right">
       <ul class="primary">
           <li></li>
           <li></li>
           <li class="list-item-user-detail nav-dropdown-trigger">
               <div class="user-frame">
                   <div class="user-details">
                    <span class="user-name"></span>
                    <span class="job-role"></span>
                   </div>
                   <div class="user-profile-picture profile-picture">
                       <div class="active-user"></div>
                   </div>
               </div>
               <ul class="dropdown-menu user-options">
                   <li><a href="/users/profile/"><svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mr-50 feather feather-user"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>Account</a></li>
                   <li><a href="/admin"><svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user-plus"><path d="M16 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="8.5" cy="7" r="4"></circle><line x1="20" y1="8" x2="20" y2="14"></line><line x1="23" y1="11" x2="17" y2="11"></line></svg>Admin</a></li>
                   <li><a href="/users/logout"><svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mr-50 feather feather-log-out"><path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"></path><polyline points="16 17 21 12 16 7"></polyline><line x1="21" y1="12" x2="9" y2="12"></line></svg>Log Out</a></li>
               </ul>
           </li>
       </ul>
    </div>
</nav>