<div class='on-hold-dropdown'>
    <div class='header flex-center-space-between-row'><i class="fa-light fa-circle-info"></i><span>Pick/Create Option</span><i class="close-on-hold-dropdown fa-regular fa-xmark"></i></div>
    <div class='body'>
        <ul class="hold-reason-options">
            <!-- This first row is used as a clone: No touchy! -->
            <%- include('on-hold-dropdown-option.ejs', {holdReason: ''}) %>

            <% allHoldReasonsForThisDepartment.forEach(holdReason => { %>
                <%- include('on-hold-dropdown-option.ejs', {
                    holdReason: holdReason
                }) %>
            <% }) %>
        </ul>
        <div class='custom-tag-frame'>
            <span>Create New</span>
            <div class='add-tag-frame flex-center-center-row'>
                <input class='hold-reason-input-field' type='text'>
                <button class='bg-blue text-white border-blue btn-create add-hold-reason-btn'>Add</button>
            </div>
        </div>
    </div>
</div>