<div class='on-hold-dropdown'>
    <div class='header flex-center-space-between-row'><i class="fa-light fa-circle-info"></i><span>Pick/Create Optiion</span><i class="close-on-hold-dropdown fa-regular fa-xmark"></i></div>
    <div class='body'>
        <ul>
            <li>Option 1</li>
            <li>Option 2</li>
        </ul>
        <div class='custom-tag-frame'>
            <span>Create New</span>
            <div class='add-tag-frame flex-center-center-row'>
                <input type='text'><button class='bg-blue text-white border-blue btn-create'>Add</button>
            </div>
        </div>
    </div>
</div>