<div id='product-row-template' class='product-wrapper flex-top-center-column'>
    <div class='table-row flex-center-center-row'>
    <div class='group-lines'></div>
    <div class='column-td column-td-a bg-green'>
        <i class='fa-light fa-ellipsis-vertical text-white'></i>
        <div class='ticket-dropdown-options dropdown'>
        <ul> 
            <a href=""><li><i class="fa-regular fa-eye"></i>View Product</li></a>
            <li class='collapse-ticket'><i class="fa-regular fa-arrows-to-line"></i>Hide Products</li>
        </ul>
        </div>
    </div>
    <div class='column-td column-td-b bg-white'></div>
    <div class='column-td column-td-c product-number-column bg-white'>Product Number (TODO)</div>
    <div class='column-td column-td-d bg-white'></div>
    <div class='column-td column-td-e bg-white'></div>
    <div class='column-td column-td-f bg-white'></div>
    <div class='column-td column-td-g bg-white'>Frames (TODO)</div>
    <div class='column-td column-td-h bg-white'>Label QTY (TODO)</div>
    <div class='column-td column-td-i bg-white'><i class="fa-regular fa-image-polaroid"></i></div>
    </div>
</div>
