<div class='workflow-navigation'>
    <ul class='navigation-list full-width'>
        <li data-department="ORDER-PREP">Order Prep</li>
        <li data-department="ART-PREP">Art Prep</li>
    </ul>
</div>