<div class='sidebar-main active'>
    <div class='flex-center-space-between-row full-width title-frame'>
        <svg xmlns="http://www.w3.org/2000/svg" width="42px" height="42px" viewBox="0 0 225.97 290.05"><defs><style>.scls-1{fill:#00cfe8;}.scls-2{fill:#7367f0;}.scls-3{fill:#ea5455;}.scls-4{fill:#fcd61a;}.scls-5{fill:#28c76f;}.scls-6{fill:#2ab8fa;}.scls-7{fill:#ff9f43;}</style></defs><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><rect class="scls-1" x="0.23" y="142.35" width="54" height="120.69"/><rect class="scls-2" width="224.81" height="54" rx="27"/><rect class="scls-3" x="88.76" y="119.77" width="137.21" height="54" rx="27"/><rect class="scls-4" y="236.05" width="137.21" height="54" rx="27"/><circle class="scls-5" cx="198.57" cy="27" r="27"/><circle class="scls-6" cx="27.23" cy="142.35" r="27"/><circle class="scls-7" cx="194.57" cy="263.05" r="27"/></g></g></svg>
        <button class='expand-sidebar flex-center-center-row'>
            <div class='bull-eye'></div>
        </button>
    </div>
    <div class='navigation-container flex-top-left-column'>
        <span>Navigation</span>
        <ul class='full-width'>
            <li class='sidebar-option'>
                <div class='flex-center-left-row full-width option'>
                    <i class="fa-sharp fa-solid fa-ticket"></i>Tickets
                </div>
            </li>
            <li class='materials-sidebar-option sidebar-option'>
                <div class='flex-center-left-row full-width option'>
                    <i class="fa-regular fa-toilet-paper"></i>Materials
                    <i class="fa-regular fa-chevron-right"></i>
                </div>
                <ul class='sidebar-sub-options'>
                    <li><i class="fa-regular fa-circle"></i>Inventory</li>
                    <li><i class="fa-regular fa-circle"></i>Create Purchase Order</li>
                    <li><i class="fa-regular fa-circle"></i>View Purchase Orders</li>
                </ul>
            </li>
            <li class='sidebar-option'>
                <div class='flex-center-left-row full-width option'>
                    <i class="fa-light fa-hat-chef"></i>Recipes
                    <i class="fa-regular fa-chevron-right"></i>
                </div>
                <ul class='sidebar-sub-options'>
                    <li><i class="fa-regular fa-circle"></i>Inventory</li>
                    <li><i class="fa-regular fa-circle"></i>Create Purchase Order</li>
                    <li><i class="fa-regular fa-circle"></i>View Purchase Orders</li>
                </ul>
            </li>
            <li class='sidebar-option'>
                <div class='flex-center-left-row full-width option'>
                    <i class="fa-sharp fa-solid fa-list-timeline"></i>Master Log
                </div>
            </li>
            <li class='sidebar-option'>
                <div class='flex-center-left-row full-width option'>
                    <i class="fa-regular fa-message"></i>Chat
                </div>
            </li>
            <li class='sidebar-option'>
                <div class='flex-center-left-row full-width option'>
                    <i class="fa-regular fa-bell"></i>Notification
                </div>
            </li>
            <li class='sidebar-option'>
                <div class='flex-center-left-row full-width option'>
                    <i class="fa-regular fa-user"></i>Me
                    <i class="fa-regular fa-chevron-right"></i>
                </div>
                <ul class='sidebar-sub-options'>
                    <li><i class="fa-regular fa-circle"></i>Inventory</li>
                    <li><i class="fa-regular fa-circle"></i>Create Purchase Order</li>
                    <li><i class="fa-regular fa-circle"></i>View Purchase Orders</li>
                </ul>
            </li>
        </ul>
    </div>
    <div class='department-container flex-top-left-column'>
        <span>Dapartments</span>
        <ul class='full-width'>
            <li class='sidebar-option'>
                <div class='flex-center-left-row full-width option'>
                    Order Prep
                </div>
            </li>
            <li class='sidebar-option'>
                <div class='flex-center-left-row full-width option'>
                    Art Prep
                </div>
            </li>
            <li class='sidebar-option'>
                <div class='flex-center-left-row full-width option'>
                    Pre-Printing
                </div>
            </li>
            <li class='sidebar-option'>
                <div class='flex-center-left-row full-width option'>
                    Printing
                </div>
            </li>
            <li class='sidebar-option'>
                <div class='flex-center-left-row full-width option'>
                    Cutting
                </div>
            </li>
            <li class='sidebar-option'>
                <div class='flex-center-left-row full-width option'>
                    Winding
                </div>
            </li>
            <li class='sidebar-option'>
                <div class='flex-center-left-row full-width option'>
                    Shipping
                </div>
            </li>
            <li class='sidebar-option'>
                <div class='flex-center-left-row full-width option'>
                    Billing
                </div>
            </li>
        </ul>
    </div>
</div>