<div class='start-job-bg-overlay flex-center-center-row'>
    <i class="fa-regular fa-xmark-large"></i>
    <div class='card modal-window start-job-modal'>
        <div class='modal-wrapper'>
            <div class='modal-header'>
            <h2>Start This Job</h2>
            </div>
            <div class='modal-body flex-center-center-column'>
                <h1 class='start-modal-ticket-number'><%= ticket.ticketNumber || 'N/A' %></h1>
                <h1 class='start-modal-ticket-number'><%= ticket.destination || 'N/A' %></h1>
                <select name="machine-list" id="machine">
                    <option>Press 1</option>
                    <option>Press 2</option>
                    <option>Delta 1</option>
                    <option>Delta 2</option>
                </select>
            </div>
            <div class='modal-footer flex-center-space-evenly-row'>
                <button class='btn btn-primary'>Cancel</button><button data-department="<%= ticket.destination ? ticket.destination.department : 'N/A' %>" data-ticket-id="<%= ticket._id %>" class='btn btn-primary start-ticket-button'>Start Job</button>
            </div>
        </div>
    </div>
</div>