
    <div class='ticket-drpdwn-options'>
      <ul>
        <li class='primary-drpdwn-list-option start-ticket back-out-hover'>
          <i class="fa-regular fa-circle-play"></i>Start Ticket
        </li>
        <li class="primary-drpdwn-list-option move-ticket">
          <i class="fa-regular fa-circle-arrow-right"></i>Move
          <div class='department-drpdwn-options'>
            <ul>
              <li class="move-department-drpdwn-list-option move-to-department-trigger">Move To Department
                <div class='department-drpdwn'>
                  <div class='department-dropdown-header flex-bottom-space-between-row'>
                    <span class='drpdwn-title'>Choose Dept.</span><span class="drpdwn-back-btn"><div class='background-hover'></div>Back</span>
                  </div>
                  <ul class='department-dropdown-list'>
                    <li class='department-option click-me' data-department-name='ORDER-PREP'>Order Prep</li>
                    <li class='department-option' data-department-name='ART-PREP'>Art Prep</li>
                    <li class='department-option' data-department-name='PRE-PRINTING'>Pre-Printing</li>
                    <li class='department-option' data-department-name='PRINTING'>Printing</li>
                    <li class='department-option' data-department-name='CUTTING'>Cutting</li>
                    <li class='department-option' data-department-name='WINDING'>Winding</li>
                    <li class='department-option' data-department-name='PACKAGING'>Packaging</li>
                    <li class='department-option' data-department-name='SHIPPING'>Shipping</li>
                    <li class='department-option' data-department-name='BILLING'>Billing</li>
                  </ul>
                </div>
                <div class='department-status-drpdwn back-out-hover'>
                  <div class='department-dropdown-header flex-bottom-space-between-row'>
                    <span class='drpdwn-title'>Choose Status</span><span class="sub-drpdwn-back-btn status-drpdwn-back-btn"><div class='background-hover'></div>Back</span>
                  </div>
                  <!-- #409 Gavin This the list of department statuss. We would want to populate this with list of department-statuss that correspond with the main department-->
                  <ul class='status-dropdown-list'>
                    <li class='status-option' data-ticket-id='<%= ticket.id %>' data-status-name='N/A'>N/A</li> <!-- This row is used as a clone -->
                  </ul>
                  <!-- End Gavin Target -->
                </div>
              </li>
              <li class='move-department-drpdwn-list-option move-to-list-trigger'>Move To List
                <div class='status-drpdwn'>
                  <div class='department-dropdown-header flex-bottom-space-between-row'>
                    <span class='drpdwn-title'>Choose List</span><span class="drpdwn-back-btn"><div class='background-hover'></div>Back</span>
                  </div>
                  <!-- #410 Gavin This a list of the department statuss of the current department that the ticket is in. -->
                  <ul>
                    <li class='current-department-status-option'>Department Status A</li>
                    <li class='current-department-status-option'>Department Status B</li>
                    <li class='current-department-status-option'>Department Status C</li>
                  </li>
                  <!-- End Gavin Target -->
                </div>
              </li>
              <li class='move-department-drpdwn-list-option'>Move To Top</li>
            </ul>
          </div>
          <i class="fa-regular fa-chevron-right"></i>
        </li>
        <a href="/tickets/<%= ticket.id %>" class="view-ticket-link"><li class='primary-drpdwn-list-option view-ticket back-out-hover'><i class="fa-regular fa-eye"></i>View Ticket</li></a>
        <div class='line'></div>
        <li class="primary-drpdwn-list-option show-products back-out-hover"><i class="fa-regular fa-list-tree"></i>Show Products</li>
        <li class="primary-drpdwn-list-option hide-products back-out-hover"><i class="fa-regular fa-arrows-to-line"></i>Hide Products</li>
        <li class="primary-drpdwn-list-option duration-dropdown-trigger back-out-hover">
          <i class="fa-regular fa-clock-two"></i>Duration
          <div class='duration-dropdown-options'>
            <ul>
              <li class='date-creation duration-option'>Date Created - <span class='text-blue date-created-target'>N/A</span></li>
              <li class='overall-duration duration-option'>Overall - <span class='text-blue overall-duration-target'>N/A</span></li>
              <li class='production-duration duration-option'>Production - <span class='text-blue production-duration-target'>N/A</span></li>
              <li class='department-duration duration-option'>Department - <span class='text-blue department-duration-target'>N/A</span></li>
              <li class='list-duration duration-option'>Current List - <span class='text-blue list-duration-target'>N/A</span></li>
            </ul>
          </div>
          <i class="fa-regular fa-chevron-right"></i>
        </li>
        <li class="primary-drpdwn-list-option duration-dropdown-trigger back-out-hover">
          <i class="fa-regular fa-user-astronaut"></i>Assignees
          <div class='duration-dropdown-options'>
            <ul>
              <li class='assignee-drpdwn-option assignee-list-item order-prep'>
                <p>Order Prep:</p>
                <span class='assignee tooltip'><span class="tooltiptext">Storm Vaske</span>SV</span>
              </li>
              <li class='assignee-drpdwn-option assignee-list-item art-prep'>
                <p>Art Prep:</p>
                <span class='assignee tooltip'><span class="tooltiptext">Brian Patterson</span>BP</span>
              </li>
              <li class='assignee-drpdwn-option assignee-list-item pre-printing'>
                <p>Pre Printing:</p>
                <span class='assignee tooltip'><span class="tooltiptext">Josie Steffey</span>JS</span>
                <span class='assignee tooltip'><span class="tooltiptext">Ethan Sherwood</span>ES</span>
              </li>
              <li class='assignee-drpdwn-option assignee-list-item printing'><p>Printing:</p></li>
              <li class='assignee-drpdwn-option assignee-list-item cutting'><p>Cutting:</p></li>
              <li class='assignee-drpdwn-option assignee-list-item winding'><p>Winding:</p></li>
              <li class='assignee-drpdwn-option assignee-list-item Shipping'><p>Shipping:</p></li>
              <li class='assignee-drpdwn-option assignee-list-item billing'><p>Shipping:</p></li>
            </ul>
          </div>
          <i class="fa-regular fa-chevron-right"></i>
        </li>
        <div class='line'></div>
        <a href="/tickets/update/<%= ticket.id %>" class='edit-ticket-link'><li class='primary-drpdwn-list-option edit-ticket back-out-hover'><i class="fa-regular fa-pen-to-square"></i>Edit Ticket</li></a>
        <a href='' class='archive-ticket-link'><li class='primary-drpdwn-list-option archive-ticket back-out-hover'><i class="fa-regular fa-box-archive"></i>Archive Ticket</li></a>
      </ul>
    </div>
