<div class='workflow-navigation'>
    <ul class='navigation-list full-width'>
        <li data-department="ORDER-PREP">Order Prep</li>
        <li data-department="ART-PREP">Art Prep</li>
        <li data-department="PRE-PRESS">Pre-Printing</li>
        <li data-department="PRINTING">Printing</li>
        <li data-department="CUTTING">Cutting</li>
        <li data-department="WINDING">Winding</li>
        <li data-department="SHIPPING">Shipping</li>
        <li data-department="BILLING">Billing</li>
    </ul>
</div>