.custom-select-container {
  position: relative;
  width: 230px;
}

.select-selected {
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
}

.select-selected.active {
  border: 2px solid #7367F0;
}

.dropdown-arrow {
  margin-left: 10px;
  transition: .175s;
  i {
    font-size: 12px;
  }
}

.dropdown-arrow.active {
  transform: rotate(180deg);
  transition: .175s;
}

.select-items-dropdown {
  position: absolute;
  background-color: white;
  width: 100%;
  z-index: 999;
  margin-top: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 4px 24px 0 rgb(34 41 47 / 10%);
  box-shadow: 0 4px 24px 0 rgb(34 41 47 / 10%);
  transition: .175s;
  padding: 5px;
}

.dropdown-item {
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  color: #6e6b7b;
  font-size: 15px;
  margin-bottom: 3px;
}

.dropdown-item:hover {
  background-color: #f3f2f3;
}

.same-as-selected {
  // background-color: #157efb;
  // background-color: #7367F0;
  background: rgba(115, 103, 240, .1);
  color: #7367F0;

  &:hover { 
    background: rgba(115, 103, 240, .1);
  color: #7367F0;
  }
}


.error {
  color: red;
  margin-top: 10px;
}