.navbar-main {
    transform-style: preserve-3d;
    .column{
        &:nth-child(2) {
            svg {
                height: 45px;
            }
        }
    }
    .full-page-curtain {
        transform: translateZ(-10px);
        .dropdown-option {
            height: auto;
            &:hover {
                background-color: transparent;
                h6 {
                    color: #157efb;
                }
            }
            h6 {
                width: 100%;
            }
        }
    }
}