<%- include('partials/navbarMain.ejs') %>

<div class="page-wrapper admin-panel">
    <h2 class="content-header-title"> Welcome to the admin panel</h2>
    <div class="alert-box full-width">
        <%- include ("flashMessages") %>
    </div>
    <div class="column-wrapper">
        <div class="column-left">
            <ul class="admin-options list-options">
                <li class="active" value="materials">
                    <div class="">
                        <span>Materials</span>
                    </div>
                </li>
                <li value="finishes">
                    <div class="">
                        <span>Finishes</span>
                    </div>
                </li>
                <li value="machines">
                    <div class="">
                        <span>Machines</span>
                    </div>
                </li>
                <li value="vendors">
                    <div class="">
                        <span>Vendors</span>
                    </div>
                </li>
            </ul>
        </div>
        <div class="column-right">

            <div class="table-wrapper content-box materials-table active materials">
                <div class="table-header">
                    <div class="left-column">
                    ABC
                    </div>
            
                    <div class="right-column">
                    <input type="search" class=" recipe-search-bar" id="query" name="q" placeholder="Search...">
                    <a class="btn btn-primary create-new-recipe" href="/materials/create" role="button">New Material</a>
                    </div>
            
                </div>
                <table id="materials-table" class="table recipes">
                    <thead role="rowgroup">
                    <tr role="row">
                        <th role="columnheader" scope="col" tabindex="0" aria-colindex="1" aria-sort="none" class=""><div>Row #</div></th>
                        <th role="columnheader" scope="col" tabindex="0" aria-colindex="1" aria-sort="none" class=""><div>Name</div></th>
                        <th role="columnheader" scope="col" tabindex="0" aria-colindex="1" aria-sort="none" class=""><div>Actions</div></th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <div class="table-wrapper content-box finish-table finishes">
                <div class="table-header">
                    <div class="left-column">
                      ABC
                    </div>
              
                    <div class="right-column">
                      <input type="search" class=" recipe-search-bar" id="query" name="q" placeholder="Search...">
                      <a class="btn btn-primary create-new-recipe" href="/finishes/create" role="button">New Finish</a>
                    </div>
              
                  </div>
                  <table id="finishes-table" class="table recipes">
                    <thead role="rowgroup">
                      <tr role="row">
                        <th role="columnheader" scope="col" tabindex="0" aria-colindex="1" aria-sort="none" class=""><div>Row #</div></th>
                        <th role="columnheader" scope="col" tabindex="0" aria-colindex="1" aria-sort="none" class=""><div>Name</div></th>
                        <th role="columnheader" scope="col" tabindex="0" aria-colindex="1" aria-sort="none" class=""><div>Actions</div></th>
                      </tr>
                    </thead>
                    <tbody>
                    </tbody>
                  </table>
            </div>
            <div class="table-wrapper content-box machines-table machines">
                <div class="table-header">
                    <div class="left-column">
                      ABC
                    </div>
              
                    <div class="right-column">
                      <input type="search" class=" recipe-search-bar" id="query" name="q" placeholder="Search...">
                      <a class="btn btn-primary create-new-recipe" href="/machines/create" role="button">New Machine</a>
                    </div>
              
                </div>
                <table id="machines-table" class="table recipes">
                    <thead role="rowgroup">
                        <tr role="row">
                        <th role="columnheader" scope="col" tabindex="0" aria-colindex="1" aria-sort="none" class=""><div>Row #</div></th>
                        <th role="columnheader" scope="col" tabindex="0" aria-colindex="1" aria-sort="none" class=""><div>Name</div></th>
                        <th role="columnheader" scope="col" tabindex="0" aria-colindex="1" aria-sort="none" class=""><div>Actions</div></th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <div class="table-wrapper content-box vendors-table vendors">
                <div class="table-header">
                    <div class="left-column">
                      ABC
                    </div>
              
                    <div class="right-column">
                      <input type="search" class=" recipe-search-bar" id="query" name="q" placeholder="Search...">
                      <a class="btn btn-primary create-new-recipe" href="/vendors/create" role="button">New Vendor</a>
                    </div>
              
                </div>
                <table id="vendors-table" class="table recipes">
                    <thead role="rowgroup">
                        <tr role="row">
                        <th role="columnheader" scope="col" tabindex="0" aria-colindex="1" aria-sort="none" class=""><div>Row #</div></th>
                        <th role="columnheader" scope="col" tabindex="0" aria-colindex="1" aria-sort="none" class=""><div>Name</div></th>
                        <th role="columnheader" scope="col" tabindex="0" aria-colindex="1" aria-sort="none" class=""><div>Actions</div></th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>
