<%- include('partials/navbarMain.ejs') %>

<div class="page-wrapper admin-panel">
    <h2 class="content-header-title"> Welcome to the admin panel</h2>
    <div class="alert-box full-width">
        <%- include ("flashMessages") %>
    </div>
    <div class="column-wrapper">
        <div class="column-left">
            <ul class="admin-options list-options">
                <li class="active" value="materials">
                    <div class="">
                        <span>Materials</span>
                    </div>
                </li>
                <li value="finishes">
                    <div class="">
                        <span>Finishes</span>
                    </div>
                </li>
                <li value="machines">
                    <div class="">
                        <span>Machines</span>
                    </div>
                </li>
                <li value="vendors">
                    <div class="">
                        <span>Vendors</span>
                    </div>
                </li>
            </ul>
        </div>
        <div class="column-right">

            <div class="table-wrapper content-box materials-table active materials">
                <div class="table-header">
                    <div class="header-description">
                      <h1 class="text-blue">View All Materials</h1>
                      <p>All recipes can be found in the departments below.</p>
              
                    </div>
                    <div class="workflow-filter flex-center-left-row">
              
                      <a href="/materials/create" class="create bg-blue text-white border-blue btn-create">Create <i class="fa-regular fa-plus"></i></a>
              
                      <div class="search-wrapper flex-center-left-row">
                        <i class="fa-regular fa-magnifying-glass flex-center-center-row"></i><input placeholder="Search" value="" class="search-input" id="query" name="q" data-search-endpoint="/recipes/query">
                      </div>
              
                      <div class="split-btn-frame btn-filter flex-center-center-row tooltip">
                        <span class="tooltiptext">Filter by anything</span>
                        <div class="filter-btn-wrapper flex-center-center-row">
                          <button class="btn-split quick-filter flex-center-center-row">
                            <i class="fa-light fa-filter"></i>Filter
                          </button>
                          <button class="btn-split-arrow-dropdown btn-advanced-filter"><i class="fa-regular fa-chevron-down"></i></button>
                        </div>
              
                        <div class="quick-filter-dropdown dropdown">
                          <h5><b>Quick Filter</b></h5>
                          <p>Testing how big the dropdown box can be</p>
                        </div>
              
                        <div class="advanced-filter-dropdown dropdown">
                          <h5><b>Advanced Filter</b></h5>
                          <p>Testing how big the dropdown box can be</p>
                        </div>
                      </div>
              
                      <div class="sort-wrapper tooltip">
                        <span class="tooltiptext">Sort by any column</span>
                        <button class="sort btn-sort"><i class="fa-regular fa-arrow-down-arrow-up"></i> Sort</button>
                        <div class="sort-dropdown dropdown">
                          <h5><b>Sort by</b></h5>
                          <p>Testing how big the dropdown box can be</p>
                        </div>
                      </div>
              
                      <div class="all-wrapper tooltip">
                        <a href="#">
                          <span class="tooltiptext">See All</span>
                          <button class="sort btn-sort" href="#"><i class="fa-solid fa-layer-group"></i> See All</button>
                        </a>
                      </div>
              
                    </div>
                    
                    <!-- <div class="left-column">
                        ABC
                    </div>
            
                    <div class="right-column">
                        <input type="search" class=" recipe-search-bar" id="query" name="q" placeholder="Search...">
                        <a class="btn btn-primary create-new-recipe" href="/materials/create" role="button">New Material</a>
                    </div> -->
            
                </div>
                <table id="materials-table" class="table recipes">
                    <thead role="rowgroup">
                    <tr role="row">
                        <th role="columnheader" scope="col" tabindex="0" aria-colindex="1" aria-sort="none" class=""><div>Row #</div></th>
                        <th role="columnheader" scope="col" tabindex="0" aria-colindex="1" aria-sort="none" class=""><div>Name</div></th>
                        <th role="columnheader" scope="col" tabindex="0" aria-colindex="1" aria-sort="none" class=""><div>Material ID</div></th>
                        <th role="columnheader" scope="col" tabindex="0" aria-colindex="1" aria-sort="none" class=""><div>Actions</div></th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <div class="table-wrapper content-box finish-table finishes">
                <div class="table-header">
                    <div class="header-description">
                      <h1 class="text-blue">View All Finishes</h1>
                      <p>All recipes can be found in the departments below.</p>
              
                    </div>
                    <div class="workflow-filter flex-center-left-row">
              
                      <a href="/finishes/create" class="create bg-blue text-white border-blue btn-create">Create <i class="fa-regular fa-plus"></i></a>
              
                      <div class="search-wrapper flex-center-left-row">
                        <i class="fa-regular fa-magnifying-glass flex-center-center-row"></i><input placeholder="Search" value="" class="search-input" id="query" name="q" data-search-endpoint="/recipes/query">
                      </div>
              
                      <div class="split-btn-frame btn-filter flex-center-center-row tooltip">
                        <span class="tooltiptext">Filter by anything</span>
                        <div class="filter-btn-wrapper flex-center-center-row">
                          <button class="btn-split quick-filter flex-center-center-row">
                            <i class="fa-light fa-filter"></i>Filter
                          </button>
                          <button class="btn-split-arrow-dropdown btn-advanced-filter"><i class="fa-regular fa-chevron-down"></i></button>
                        </div>
              
                        <div class="quick-filter-dropdown dropdown">
                          <h5><b>Quick Filter</b></h5>
                          <p>Testing how big the dropdown box can be</p>
                        </div>
              
                        <div class="advanced-filter-dropdown dropdown">
                          <h5><b>Advanced Filter</b></h5>
                          <p>Testing how big the dropdown box can be</p>
                        </div>
                      </div>
              
                      <div class="sort-wrapper tooltip">
                        <span class="tooltiptext">Sort by any column</span>
                        <button class="sort btn-sort"><i class="fa-regular fa-arrow-down-arrow-up"></i> Sort</button>
                        <div class="sort-dropdown dropdown">
                          <h5><b>Sort by</b></h5>
                          <p>Testing how big the dropdown box can be</p>
                        </div>
                      </div>
              
                      <div class="all-wrapper tooltip">
                        <a href="#">
                          <span class="tooltiptext">See All</span>
                          <button class="sort btn-sort" href="#"><i class="fa-solid fa-layer-group"></i> See All</button>
                        </a>
                      </div>
              
                    </div>
                    <!-- <div class="left-column">
                      ABC
                    </div>
              
                    <div class="right-column">
                      <input type="search" class=" recipe-search-bar" id="query" name="q" placeholder="Search...">
                      <a class="btn btn-primary create-new-recipe" href="/finishes/create" role="button">New Finish</a>
                    </div> -->
              
                  </div>
                  <table id="finishes-table" class="table recipes">
                    <thead role="rowgroup">
                      <tr role="row">
                        <th role="columnheader" scope="col" tabindex="0" aria-colindex="1" aria-sort="none" class=""><div>Row #</div></th>
                        <th role="columnheader" scope="col" tabindex="0" aria-colindex="1" aria-sort="none" class=""><div>Name</div></th>
                        <th role="columnheader" scope="col" tabindex="0" aria-colindex="1" aria-sort="none" class=""><div>Actions</div></th>
                      </tr>
                    </thead>
                    <tbody>
                    </tbody>
                  </table>
            </div>
            <div class="table-wrapper content-box machines-table machines">
                <div class="table-header">
                    <div class="header-description">
                      <h1 class="text-blue">View All Machines</h1>
                      <p>All recipes can be found in the departments below.</p>
              
                    </div>
                    <div class="workflow-filter flex-center-left-row">
              
                      <a href="/machines/create" class="create bg-blue text-white border-blue btn-create">Create <i class="fa-regular fa-plus"></i></a>
              
                      <div class="search-wrapper flex-center-left-row">
                        <i class="fa-regular fa-magnifying-glass flex-center-center-row"></i><input placeholder="Search" value="" class="search-input" id="query" name="q" data-search-endpoint="/recipes/query">
                      </div>

                      <div class="split-btn-frame btn-filter flex-center-center-row tooltip">
                        <span class="tooltiptext">Filter by anything</span>
                        <div class="filter-btn-wrapper flex-center-center-row">
                          <button class="btn-split quick-filter flex-center-center-row">
                            <i class="fa-light fa-filter"></i>Filter
                          </button>
                          <button class="btn-split-arrow-dropdown btn-advanced-filter"><i class="fa-regular fa-chevron-down"></i></button>
                        </div>
              
                        <div class="quick-filter-dropdown dropdown">
                          <h5><b>Quick Filter</b></h5>
                          <p>Testing how big the dropdown box can be</p>
                        </div>
              
                        <div class="advanced-filter-dropdown dropdown">
                          <h5><b>Advanced Filter</b></h5>
                          <p>Testing how big the dropdown box can be</p>
                        </div>
                      </div>
              
                      <div class="sort-wrapper tooltip">
                        <span class="tooltiptext">Sort by any column</span>
                        <button class="sort btn-sort"><i class="fa-regular fa-arrow-down-arrow-up"></i> Sort</button>
                        <div class="sort-dropdown dropdown">
                          <h5><b>Sort by</b></h5>
                          <p>Testing how big the dropdown box can be</p>
                        </div>
                      </div>
              
                      <div class="all-wrapper tooltip">
                        <a href="#">
                          <span class="tooltiptext">See All</span>
                          <button class="sort btn-sort" href="#"><i class="fa-solid fa-layer-group"></i> See All</button>
                        </a>
                      </div>
              
                    </div>
                    <!-- <div class="left-column">
                      ABC
                    </div>
              
                    <div class="right-column">
                      <input type="search" class=" recipe-search-bar" id="query" name="q" placeholder="Search...">
                      <a class="btn btn-primary create-new-recipe" href="/machines/create" role="button">New Machine</a>
                    </div> -->
              
                </div>
                <table id="machines-table" class="table recipes">
                    <thead role="rowgroup">
                        <tr role="row">
                        <th role="columnheader" scope="col" tabindex="0" aria-colindex="1" aria-sort="none" class=""><div>Row #</div></th>
                        <th role="columnheader" scope="col" tabindex="0" aria-colindex="1" aria-sort="none" class=""><div>Name</div></th>
                        <th role="columnheader" scope="col" tabindex="0" aria-colindex="1" aria-sort="none" class=""><div>Actions</div></th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <div class="table-wrapper content-box vendors-table vendors">
                <div class="table-header">
                    <div class="table-header">
                        <div class="header-description">
                          <h1 class="text-blue">View All Vendors</h1>
                          <p>All recipes can be found in the departments below.</p>
                  
                        </div>
                        <div class="workflow-filter flex-center-left-row">
                  
                          <a href="/vendors/create" class="create bg-blue text-white border-blue btn-create">Create <i class="fa-regular fa-plus"></i></a>
                  
                          <div class="search-wrapper flex-center-left-row">
                            <i class="fa-regular fa-magnifying-glass flex-center-center-row"></i><input placeholder="Search" value="" class="search-input" id="query" name="q" data-search-endpoint="/recipes/query">
                          </div>
                  
                          <div class="split-btn-frame btn-filter flex-center-center-row tooltip">
                            <span class="tooltiptext">Filter by anything</span>
                            <div class="filter-btn-wrapper flex-center-center-row">
                              <button class="btn-split quick-filter flex-center-center-row">
                                <i class="fa-light fa-filter"></i>Filter
                              </button>
                              <button class="btn-split-arrow-dropdown btn-advanced-filter"><i class="fa-regular fa-chevron-down"></i></button>
                            </div>
                  
                            <div class="quick-filter-dropdown dropdown">
                              <h5><b>Quick Filter</b></h5>
                              <p>Testing how big the dropdown box can be</p>
                            </div>
                  
                            <div class="advanced-filter-dropdown dropdown">
                              <h5><b>Advanced Filter</b></h5>
                              <p>Testing how big the dropdown box can be</p>
                            </div>
                          </div>
                  
                          <div class="sort-wrapper tooltip">
                            <span class="tooltiptext">Sort by any column</span>
                            <button class="sort btn-sort"><i class="fa-regular fa-arrow-down-arrow-up"></i> Sort</button>
                            <div class="sort-dropdown dropdown">
                              <h5><b>Sort by</b></h5>
                              <p>Testing how big the dropdown box can be</p>
                            </div>
                          </div>
                  
                          <div class="all-wrapper tooltip">
                            <a href="#">
                              <span class="tooltiptext">See All</span>
                              <button class="sort btn-sort" href="#"><i class="fa-solid fa-layer-group"></i> See All</button>
                            </a>
                          </div>
                  
                        </div>
                    <!-- <div class="left-column">
                      ABC
                    </div>
              
                    <div class="right-column">
                      <input type="search" class=" recipe-search-bar" id="query" name="q" placeholder="Search...">
                      <a class="btn btn-primary create-new-recipe" href="/vendors/create" role="button">New Vendor</a>
                    </div> -->
              
                </div>
                <table id="vendors-table" class="table recipes">
                    <thead role="rowgroup">
                        <tr role="row">
                        <th role="columnheader" scope="col" tabindex="0" aria-colindex="1" aria-sort="none" class=""><div>Row #</div></th>
                        <th role="columnheader" scope="col" tabindex="0" aria-colindex="1" aria-sort="none" class=""><div>Name</div></th>
                        <th role="columnheader" scope="col" tabindex="0" aria-colindex="1" aria-sort="none" class=""><div>Actions</div></th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>
