<h1> Welcome to the Admin Panel </h1>

<a class="btn btn-primary" href="/finishes/create" role="button">Create Finish</a>
<a class="btn btn-primary" href="/machines/create" role="button">Create Machine</a>
<a class="btn btn-primary" href="/materials/create" role="button">Create Material</a>

<a class="btn btn-primary" href="/finishes/" role="button">View Finishes</a>
<a class="btn btn-primary" href="/machines/" role="button">View Machines</a>
<a class="btn btn-primary" href="/materials/" role="button">View Materials</a>