<form id="change-password-form">
    <div class="form-group">
        <label for="newPassword">New Password</label>
        <input type="password" class="form-control" id="newPassword" name="newPassword">
    </div>
    <div class="form-group">
        <label for="repeatPassword">Re-type New Password</label>
        <input type="password" class="form-control" id="repeatPassword" name="repeatPassword">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<script>
    $(document).ready(function(){
        $("#change-password-form").submit(function(e) {
            e.preventDefault();

            const jwtToken = localStorage.getItem('jwtToken');
            const newPassword = $('#newPassword').val();
            const repeatPassword = $('#repeatPassword').val();

            $.ajax({
                type: "POST",
                url: '/users/change-password',
                data: {
                    jwtToken,
                    newPassword,
                    repeatPassword
                },
                dataType: 'json',
                success: function(data){
                    const errorMessage = data.error;

                    if (errorMessage) {
                        alert(errorMessage);
                    } else {
                        alert('password was changed successfully');
                        console.log(data);
                    }
                },
                error: function(error) {
                    alert('error');
                    console.log(error);
                }
            });
        });
    });
</script>