<form id="change-password-form" action="/users/change-password" method="POST">
    <div class="form-group">
        <label for="newPassword">New Password</label>
        <input type="password" class="form-control" id="newPassword" name="newPassword">
    </div>
    <div class="form-group">
        <label for="repeatPassword">Re-type New Password</label>
        <input type="password" class="form-control" id="repeatPassword" name="repeatPassword">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>