<%- include('partials/navbarMain.ejs') %>

<div class="page-wrapper create-table-entry">

    <h2 class="content-header-title">Creating New Finishes</h2>

    <div class="card">
        <h4>Create A New Finish</h4>

        <div class="alert-box">
            <%- include ("flashMessages") %>
        </div>

        <form id="create-material-form" action="/finishes/create", method="POST">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" name="name" id="name">
             </div>
            <button class="create-entry submit-button" type="submit" value="Create Finish">Create</button>
        </form>

    </div>

</div>