<h1>Create Material</h1>

<form action="/materials/create", method="POST">
    <label for="name">Name</label>
    <input type="text" name="name" id="name">
    <input type="submit" value="Create Material">
</form>