<%- include('partials/navbarMain.ejs') %>

<div class="page-wrapper create-table-entry">
    <div class="card">
        <div class="header">
            <div class="title-icon-box">
                <h1 class="text-blue card-title">Create New Packaging Estimate</h1>
            </div>
            <p>Fill out the form below to create a new packaging estimate. Remember, you're <b>awesome :)</b></p>
        </div>
        <div class="alert-box">
            <%- include ("flashMessages") %>
        </div>
        <form id="create-packaging-estimate-form" action="/packaging/rolls-per-box", method="POST">
            <div class="form-group">
                <label for="boxSideLength">Box Side Length (inches)*</label>
                <input type="text" name="boxSideLength" value="14.25" required>
                
                <label for="boxHeight">Box Height (inches)*</label>
                <input type="text" name="boxHeight" value="14.25" required>

                <label for="rollDiameter">Diameter per Roll (inches)*</label>
                <input type="text" name="rollDiameter" required>

                <label for="rollHeight">Height per Roll (inches)*</label>
                <input type="text" name="rollHeight" required>

                <label for="numberOfRolls">Total number of Rolls</label>
                <input type="text" name="numberOfRolls">

             </div>

             <div class="full-width flex-center-left-row">
                <button id="create-packaging-estimate-button" class="btn btn-primary save-form-button" type="submit" value="Create Estimate">Create Estimate</button>
            </div>
        </form>
    </div>

    <div id='package-estimate-results-card' class="card" style="display: none;">
        <div class="header">
            <div class="title-icon-box">
                <h1 class="text-blue card-title">Packaging Estimate</h1>
            </div>
            <div>
                <h4>Number Of Layers: <span id="number-of-layers-result"></span></h4>    
                <h4>Rolls per Layer: <span id="rolls-per-layer-result"></span></h4>
                <h4>Rolls per Box: <span id="rolls-per-box-result"></span></h4>
                <h4>Number of Boxes: <span id="number-of-boxes-result"></span></h4>

                <img id='circles-in-square-layout' src='' style='display: none;' width="300" height="300">  <!-- Image src is injected with jquery -->
                
            </div>
        </div>
    </div>
</div>