<%- include('partials/navbarMain.ejs') %>

<div class="page-wrapper create-table-entry">

    <h2 class="content-header-title">Creating New Machine</h2>

    <div class="card">
        <h4>Create A New Machine</h4>

        <div class="alert-box">
            <%- include ("flashMessages") %>
        </div>

        <form id="create-machine-form" action="/machines/create", method="POST">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" name="name" id="name">
             </div>
            <button class="create-entry submit-button" type="submit" value="Create Machine">Create</button>
        </form>

    </div>

</div>