<%- include('partials/navbarMain.ejs') %>

<div class="page-wrapper create-table-entry">
    <div class="card">
        <div class="header">
            <div class="title-icon-box">
                <h1 class="text-blue card-title">Create New Material</h1>
            </div>
            <p>Fill out the form below to create a new material. Remember, you're <b>awesome :)</b></p>
        </div>
        <div class="alert-box">
            <%- include ("flashMessages") %>
        </div>
        <form id="create-material-form" action="/materials/form", method="POST">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" name="name" id="name">
             </div>
             <div class="form-group">
                <label for="materialId">Material ID</label>
                <input type="text" name="materialId" id="materialId">
             </div>
             <div class="form-group">
                <label for="vendor-selection">Vendor:</label>
                <select name="vendorId" id="vendor-selection">
                    <option value='' selected>Choose Here</option>
                    <% vendors && vendors.forEach((vendor, index) => { %>
                        <option value="<%= vendor.id %>"><%= vendor.name %></option>
                    <% }) %>
                </select>
             </div>
            <button class="create-entry submit-button" type="submit" value="Create Material">Create</button>
        </form>
    </div>
</div>