<h1>File Plan Generator!</h1>

<form action="/file-plan" method="POST">
  <div class="formbuilder-text form-group">
      <label for="labelsAcross" class="formbuilder-text-label">Labels Across<span class="formbuilder-required">*</span></label>
      <input type="text" placeholder="8" class="form-control" name="labelsAcross" access="false" required="required" aria-required="true">
  </div>
  <div class="formbuilder-text form-group">
      <label for="labelsAround" class="formbuilder-text-label">Labels Around<span class="formbuilder-required">*</span></label>
      <input type="text" placeholder="12" class="form-control" name="labelsAround" access="false" id="labels-around" required="required" aria-required="true">
  </div>
  <div class="formbuilder-textarea form-group">
      <label for="products" class="formbuilder-textarea-label">Product Attributes</label>
      <textarea
        style="height:300px"
        type="textarea" 
        placeholder="<%= placeholder %>" 
        class="form-control" 
        name="products" 
        required="required" 
        id="products"
        ></textarea>
  </div>

  <button class="btn btn-primary submit-button" id="create-file-plan-button" type="submit">Create File Plan</button>
</form>