<%- include('partials/navbarMain.ejs') %>

<div class="page-wrapper new-recipe">

    <div class="card">
        <div class="header">
            <div class="title-icon-box">
                <h1 class="text-blue card-title">Create New Recipe</h1>
            </div>
            <p>Fill out the form below to create a new recipe. Don't <b>fuck</b> it up.</p>
        </div>
        <div class="alert-box">
            <%- include ("flashMessages") %>
        </div>

        <form action="", method="POST" id="create-new-recipe-form" class="create-new-recipe-form">
            <div class="form-wrapper">
                <div class="field-wrapper">
                    <div class="column-left">
                        <div class="form-group">
                            <label for="designNumber">Design Number</label>
                            <input type="text" name="designNumber" id="designNumber">
                        </div>
                        <div class="form-group">
                            <label for="dieNumber">Die Number</label>
                            <input type="text" name="dieNumber" id="dieNumber">
                        </div>
                        <div class="form-group">
                            <label for="howToVideo">How-to-Video</label>
                            <input type="text" name="howToVideo" id="howToVideo">
                        </div>
                    </div>
                    <div class="column-right">
                        <div class="form-group">
                            <label for="notes">Notes</label>
                            <textarea type="text" name="notes" id="notes"></textarea>
                        </div>
                    </div>
                </div>
                <input type="hidden" name="authorId" id="authorId" value="<%= user.id %>">
                <button type="submit" class="btn btn-primary" value="Create Recipe">Create Recipe</button>

            </div>

        </form>

    </div>

</div>