<h1>Edit Details</h1>

<p>Edit or confirm the details below before saving</p>

<form action="TODO", method="POST">
    <% if (typeof job != 'undefined') { %>
        <% job.products.forEach(product => { %>
            <h1>Found a product</h1>
        <% }) %>
    <% } %> 
</form>