<script>
    var bodyclass=document.createAttribute("class");
    bodyclass.value="login-body";
    document.getElementsByTagName("body")[0].setAttributeNode(bodyclass);
</script>
<section class="registration-section">
    <div class="container">
        <%- include('partials/staticNavbarEntry.ejs') %>
        <!-- particles.js container --> 
        <div id="particles-js"></div>
        <div class="registration-content-frame">
            <h1>Welcome to <span>Project Eli</span> <svg xmlns="http://www.w3.org/2000/svg" width="30px" height="30px" viewBox="0 0 24 24" fill="none" stroke="#ff9f43" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bar-chart-2" style="margin-bottom: -4px;
            "><line x1="18" y1="20" x2="18" y2="10"></line><line x1="12" y1="20" x2="12" y2="4"></line><line x1="6" y1="20" x2="6" y2="14"></line></svg></h1>
            <h2>Evolved Label Intelligence</h2>
            <p>Please sign in to get started.</p>
            <div class="alert-box full-width">
                <%- include ("flashMessages") %>
            </div>
            <form id="login-form" action="/users/login" method="POST">
                <div class="form-group">
                    <label for="email">Email address</label>
                    <div class="input-frame email">
                        <input type="email" class="form-control" id="email" name="email">
                        <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" class='invalid-icon' viewBox="0 0 24 24"><path d="M12 2c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-1 6h2v8h-2v-8zm1 12.25c-.69 0-1.25-.56-1.25-1.25s.56-1.25 1.25-1.25 1.25.56 1.25 1.25-.56 1.25-1.25 1.25z"/></svg>
                    </div>
                    <small class="text-danger">The Email field must be a valid email</small>
                </div>
                <div class="form-group password">
                    <div class="label-link-wrapper">
                        <label for="password">Password</label>
                        <a href="/users/forgot-password"> Forgot Password? </a>
                    </div>
                    <div class="input-frame">
                        <input type="password" class="form-control password" id="password" name="password">
                        <div class="show-password-frame">
                            <svg xmlns="http://www.w3.org/2000/svg" width="17px" height="17px" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="cursor-pointer feather feather-eye show-password-1"><path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path><circle cx="12" cy="12" r="3"></circle></svg>
                        </div>
                    </div>
                </div>
                <div class="remember-me-frame">
                    <input id="remember-me" type="checkbox" name="checkbox-1" class="custom-control-input" value="true">
                    <label for="remember-me" class="custom-control-label remember-me"> Remember Me </label>
                </div>
                <button type="submit" class="btn btn-primary register-button">Login</button>
                <div class="already-have-account content">
                    Need to signup for an account?<a href="/users/register"> Sign up instead</a>
                </div>
            </form>
        </div>
    </div>
</section>