<h1>Reset Password for <%= email %></h1>

<form action="", method="POST">
    <label for="password">Password</label>
    <input type="password" name="password" id="password">
    <br>
    <label for="repeatPassword">Re-type Password</label>
    <input type="password" name="repeatPassword" id="repeatPassword">
    <br>
    <input type="submit" value="Reset Password">
</form>