<h1>Setup Selection</h1>

<a class="btn btn-primary" href="/printing-setups/<%= recipeId %>" role="button">Printing Setups</a>
<a class="btn btn-success" href="/cutting-setups/<%= recipeId %>" role="button">Cutting Setups</a>
<a class="btn btn-danger" href="/winding-setups/<%= recipeId %>" role="button">Winding Setups</a>