
<%- include('partials/navbarMain.ejs') %>

<div class="page-wrapper update-material">
    <div class="card">
        <div class="header">
            <div class="card-title text-blue">
                <h1>Update Material Category</h1>
            </div>
                <p>Make changes to the Material Category below and hit 'update' for them to take affect. Remember, you're <b>awesome :)</b></p>
        </div>

        <div class="alert-box">
            <%- include ("flashMessages") %>
        </div>

        <form action="/material-categories/form/<%= materialCategory.id %>", method="POST">
            <label for="name">Name</label>
            <input type="text" name="name" id="name" value="<%= materialCategory.name %>">
            <button type="submit" class="submit-button">Update Material Category</button>
        </form>
    </div>
</div>