<h1>Update Recipe</h1>

<form action="", method="POST">
    <label for="designNumber">Design Number</label>
    <input type="text" name="designNumber" id="designNumber" value="<%= recipe.designNumber %>">
    <br>
    <label for="dieNumber">Die Number</label>
    <input type="text" name="dieNumber" id="dieNumber" value="<%= recipe.dieNumber %>">
    <br>
    <label for="notes">Notes</label>
    <input type="text" name="notes" id="notes" value="<%= recipe.notes %>">
    <br>
    <label for="howToVideo">How-to-Video</label>
    <input type="text" name="howToVideo" id="howToVideo" value="<%= recipe.howToVideo %>">
    <br>
    <input type="submit" value="Update Recipe">
</form>