<div class='page-wrapper full-width create-ticket-wrapper'>
    <div class='container full-width flex-center-center-row'>
        <div class='column col-left half-width flex-center-center-column'>
            <h1>Upload File</h1>
            <p>You can upload a XML file from Label Traxx.</p>
                <form class="full-width" action="/tickets" method="POST" enctype="multipart/form-data">
                    <div class="upload-ticket-frame flex-center-center-column">
                        <i class="fa-duotone fa-file-import"></i>
                        <label class="drop-container">
                            <div class="text-frame flex-center-center-column">
                                <span class="drop-title">Drop files here</span>
                                <span>or</span>
                            </div>
                            <input type="file" name="job-xml">
                          </label><br>
                    </div>
                    <div class="btn-frame ticket-upload full-width flex-center-center-row">
                        <a href="/tickets/" class="btn back-btn bg-outline-dark">View Tickets</a>
                        <button type="submit" class="btn btn-primary" value="Create Recipe">Create Ticket</button>
                    </div>
                </form>
            <div class="alert-box two-third-width">
                <%- include ("flashMessages") %>
            </div>
        </div>
        <div class='column col-right half-width flex-center-center-row'>

        </div>
    </div>
</div>

