<%- include('partials/navbarMain.ejs') %>
<div class='page-wrapper in-progress-view flex-top-center-row'>
    <div class='left-col col'>
        <div class='click-tab ticket-tab'>
            Ticket - 48803 
            <div class='bumper'></div>
        </div>
        <div class='click-tab product-tab'>
            1. 1139D-029
            <div class='bumper'></div>
        </div>
        <div class='click-tab product-tab'>
            2. 1139D-215
            <div class='bumper'></div>
        </div>
        <div class='click-tab product-tab'>
            3. 1139D-300
            <div class='bumper'></div>
        </div>
    </div>
    <div class='right-col col flex-top-center-row'>
        <div class='card half-width'>
        </div>
        <div class='card half-width'>
            <iframe src= "http://localhost:8080/images/1139D-096 Proof.pdf" type="application/pdf"></iframe>
        </div>
    </div>
</div>