<p>Ticket Number: <%= ticket.ticketNumber || 'N/A' %></p>
<p>Department: <%= ticket.destination && ticket.destination.department || 'N/A' %></p>
<p>Sub Department: <%= ticket.destination && ticket.destination.departmentStatus || 'N/A' %></p>