<h1>Machines Table</h1>

<a class="btn btn-primary" href="/machines/create" role="button">Create Machine</a>
<table class="table">
    <thead>
      <tr>
        <th scope="col">Row #</th>
        <th scope="col">Name</th>
      </tr>
    </thead>
    <tbody>
        <% if (typeof machines != 'undefined') { %>
            <% machines.forEach((machine, index) => { %>
                <tr>
                    <td scope="row"><%= index + 1 %></td>
                    <td><%= machine.name || 'N/A' %></td>
                </tr>
            <% }) %>
        <% } %>
    </tbody>
  </table>