<%- include('partials/navbarMain.ejs') %>
<div class='page-wrapper in-progress-view flex-top-center-row'>
    <div class='left-col col'>
        <div class='click-tab ticket-tab active'>
            <h3>48803</h3>
            <div class='bumper'></div>
        </div>
        <div class='click-tab product-tab'>
            1. 1139D-029
            <div class='bumper'></div>
        </div>
        <div class='click-tab product-tab'>
            2. 1139D-215
            <div class='bumper'></div>
        </div>
        <div class='click-tab product-tab'>
            3. 1139D-300
            <div class='bumper'></div>
        </div>
    </div>
    <div class='right-col col flex-top-center-row'>
        <div class='card half-width'>
            <h3>Ticket:</h3>
            <h3>Customer:</h3>
            <h3>Ship Date:</h3>
            <div class='job-notes'>
                <div class='front-note'>
                    <h3>Job Notes</h3>
                    <p>Hello mars please go into my room.</p>
                    <div class='text-left full-width'>
                        <button class='submit-button close-window'>I Have Read</button>
                    </div>
                </div>
            </div>
        </div>
        <div class='card half-width'>
            <iframe src= "http://localhost:8080/images/1139D-096 Proof.pdf" type="application/pdf"></iframe>
        </div>
    </div>
</div>