/* FRAMEWORK */
.flex {
	display: flex;
}
.flex-center-center-row {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
}
.flex-center-right-row {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	flex-direction: row;
}
.flex-center-space-between-row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
}
.flex-bottom-space-between-row {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	flex-direction: row;
}
.flex-top-space-between-row {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-direction: row;
}
.flex-center-space-around-row {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: row;
}
.flex-top-space-around-row {
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
	flex-direction: row;
}
.flex-center-space-evenly-row {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-direction: row;
}
.flex-left-space-evenly-row {
	display: flex;
	justify-content: space-evenly;
	align-items: flex-start;
	flex-direction: row;
}
.flex-top-space-evenly-row {
	display: flex;
	justify-content: space-evenly;
	align-items: flex-start;
	flex-direction: row;
}
.flex-top-space-between-row {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-direction: row;
}
.flex-center-center-column {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.flex-top-center-column {
	display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
.flex-top-center-row {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-direction: row;
}
.flex-top-left-column {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-direction: column;
}
.flex-top-right-column {
	display: flex;
	justify-content: flex-start;
	align-items: flex-end;
	flex-direction: column
}
.flex-top-left-row {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-direction: row;
}
.flex-top-right-row {
	display: flex;
	justify-content: flex-end;
	align-items: flex-start;
	flex-direction: row;
}
.flex-bottom-center-row {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	flex-direction: row;
}
.flex-bottom-center-column {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	flex-direction: column;
}
.flex-bottom-left-row {
	display: flex;
	justify-content: flex-start;
	align-items: flex-end;
	flex-direction: row;
}
.flex-bottom-right-column {
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	flex-direction: column;
}
.flex-top-left-column {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-direction: column;
}
.flex-top-left-column-reverse {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-direction: column-reverse;
}
.flex-center-left-column {
	display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.flex-center-right-column {
	display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
}
.flex-center-left-row {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: row;
}
.flex-wrap {
	flex-wrap: wrap;
}
/* TEXT ALIGN CLASSES */
.text-left {
	text-align: left;
}
.text-right {
	text-align: right;
}
.text-center {
	text-align: center;
}
/* TEXT COLOR CLASSES */
.text-white {
	color: white;
}
.text-blue {
	color: #4260f2;
}
.text-888-grey {
	color: #888;
}
.text-primary-grey {
	color: #4d4d4d;
}
.text-light-grey {
	color: #E6E6E6;
}