<link rel="preload" href="/fonts/Montserrat-Black.ttf" as="font" type="font/ttf" crossorigin="anonymous">
<link rel="preload" href="/fonts/Montserrat-BlackItalic.ttf" as="font" type="font/ttf" crossorigin="anonymous">
<link rel="preload" href="/fonts/Montserrat-Bold.ttf" as="font" type="font/ttf" crossorigin="anonymous">
<link rel="preload" href="/fonts/Montserrat-BoldItalic.ttf" as="font" type="font/ttf" crossorigin="anonymous">
<link rel="preload" href="/fonts/Montserrat-ExtraBold.ttf" as="font" type="font/ttf" crossorigin="anonymous">
<link rel="preload" href="/fonts/Montserrat-ExtraBoldItalic.ttf" as="font" type="font/ttf" crossorigin="anonymous">
<link rel="preload" href="/fonts/Montserrat-ExtraLight.ttf" as="font" type="font/ttf" crossorigin="anonymous">
<link rel="preload" href="/fonts/Montserrat-ExtraLightItalic.ttf" as="font" type="font/ttf" crossorigin="anonymous">
<link rel="preload" href="/fonts/Montserrat-Italic.ttf" as="font" type="font/ttf" crossorigin="anonymous">
<link rel="preload" href="/fonts/Montserrat-Light.ttf" as="font" type="font/ttf" crossorigin="anonymous">
<link rel="preload" href="/fonts/Montserrat-LightItalic.ttf" as="font" type="font/ttf" crossorigin="anonymous">
<link rel="preload" href="/fonts/Montserrat-Medium.ttf" as="font" type="font/ttf" crossorigin="anonymous">
<link rel="preload" href="/fonts/Montserrat-MediumItalic.ttf" as="font" type="font/ttf" crossorigin="anonymous">
<link rel="preload" href="/fonts/Montserrat-Regular.ttf" as="font" type="font/ttf" crossorigin="anonymous">
<link rel="preload" href="/fonts/Montserrat-SemiBold.ttf" as="font" type="font/ttf" crossorigin="anonymous">
<link rel="preload" href="/fonts/Montserrat-SemiBoldItalic.ttf" as="font" type="font/ttf" crossorigin="anonymous">
<link rel="preload" href="/fonts/Montserrat-Thin.ttf" as="font" type="font/ttf" crossorigin="anonymous">
<link rel="preload" href="/fonts/Montserrat-ThinItalic.ttf" as="font" type="font/ttf" crossorigin="anonymous">


  /* Document
     ========================================================================== */
/* apply a natural box layout model to all elements, but allowing components to change */

  /**
   * 1. Correct the line height in all browsers.
   * 2. Prevent adjustments of font size after orientation changes in iOS.
   */
  html {
    line-height: 1.15; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    letter-spacing: .01rem;
  }
  /* Sections
     ========================================================================== */
  input:focus, textarea:focus, select:focus{
      outline: none;
  }
  /**
   * Render the `main` element consistently in IE.
   */
  
  main {
    display: block;
  }
  /**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
  
  h1 {
    font-size: 2em;
    margin: 0.67em 0;
  }
  /* Grouping content
     ========================================================================== */
  /**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
  
  hr {
    box-sizing: content-box; /* 1 */
    height: 0; /* 1 */
    overflow: visible; /* 2 */
  }
  /**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
  pre {
    font-family: monospace, monospace; /* 1 */
    font-size: 1em; /* 2 */
  }
  /* Text-level semantics
     ========================================================================== */
  /**
   * Remove the gray background on active links in IE 10.
   */
  a {
    background-color: transparent;
    text-decoration: none;
  }
  /**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
  abbr[title] {
    border-bottom: none; /* 1 */
    text-decoration: underline; /* 2 */
    text-decoration: underline dotted; /* 2 */
  }
  /**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
  b,
  strong {
    font-weight: bolder;
  }
  /**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
  
  code,
  kbd,
  samp {
    font-family: monospace, monospace; /* 1 */
    font-size: 1em; /* 2 */
  }
  
  /**
   * Add the correct font size in all browsers.
   */
  
  small {
    font-size: 80%;
  }

  b {
    font-weight: bold;
  }
  
  /**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
  
  sub,
  sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }
  
  sub {
    bottom: -0.25em;
  }
  
  sup {
    top: -0.5em;
  }
  
  /* Embedded content
     ========================================================================== */
  
  /**
   * Remove the border on images inside links in IE 10.
   */
  
  img {
    border-style: none;
  }




td {
  display: table-cell;
  vertical-align: inherit;
}
table {
  border-collapse: collapse;
  border-collapse: separate;
  text-indent: initial;
  border-spacing: 2px;
}
  
  /* Forms
     ========================================================================== */
  
  /**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */
  
  button,
  input,
  optgroup,
  select,
  textarea {
    font-family: inherit; /* 1 */
    font-size: 100%; /* 1 */
    line-height: 1.15; /* 1 */
    margin: 0; /* 2 */
  }
  
  /**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
  
  button,
  input { /* 1 */
    overflow: visible;
  }
  
  /**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
  
  button,
  select { /* 1 */
    text-transform: none;
  }
  
  /**
   * Correct the inability to style clickable types in iOS and Safari.
   */
  
  button,
  [type="button"],
  [type="reset"],
  [type="submit"] {
    -webkit-appearance: button;
  }
  
  /**
   * Remove the inner border and padding in Firefox.
   */
  
  button::-moz-focus-inner,
  [type="button"]::-moz-focus-inner,
  [type="reset"]::-moz-focus-inner,
  [type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
  }
  
  /**
   * Restore the focus styles unset by the previous rule.
   */
  
  button:-moz-focusring,
  [type="button"]:-moz-focusring,
  [type="reset"]:-moz-focusring,
  [type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
  }
  
  /**
   * Correct the padding in Firefox.
   */
  
  fieldset {
    padding: 0.35em 0.75em 0.625em;
  }
  
  /**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
  
  legend {
    box-sizing: border-box; /* 1 */
    color: inherit; /* 2 */
    display: table; /* 1 */
    max-width: 100%; /* 1 */
    padding: 0; /* 3 */
    white-space: normal; /* 1 */
  }
  
  /**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
  
  progress {
    vertical-align: baseline;
  }
  
  /**
   * Remove the default vertical scrollbar in IE 10+.
   */
  
  textarea {
    overflow: auto;
  }
  
  /**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */
  
  [type="checkbox"],
  [type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
  }
  
  /**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
  
  [type="number"]::-webkit-inner-spin-button,
  [type="number"]::-webkit-outer-spin-button {
    height: auto;
  }
  
  /**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
  
  [type="search"] {
    -webkit-appearance: textfield; /* 1 */
    outline-offset: -2px; /* 2 */
  }
  
  /**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
  
  [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
  }
  
  /**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
  
  ::-webkit-file-upload-button {
    -webkit-appearance: button; /* 1 */
    font: inherit; /* 2 */
  }
  
  /* Interactive
     ========================================================================== */
  
  /*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */
  
  details {
    display: block;
  }
  
  /*
   * Add the correct display in all browsers.
   */
  
  summary {
    display: list-item;
  }
  
  /* DEFAULT SECTION & CONTAINER SPECS
     ========================================================================== */
  .container {
      width: 100%;
  }
  section {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
  }
  /**
   * Add the correct display in IE 10+.
   */
  
  template {
    display: none;
  }
  
  /**
   * Add the correct display in IE 10.
   */
  
  [hidden] {
    display: none;
  }
  html, body, div, span, applet, object, iframe,
  h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  a, abbr, acronym, address, big, cite, code,
  del, dfn, em, img, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var,
  b, u, i,
  dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, embed,
  figure, figcaption, footer, header, hgroup,
  menu, nav, output, section, summary,
  time, mark, audio, video {
      margin: 0;
      padding: 0;
      border: 0;
      font-size: 100%;
      font: inherit;
      vertical-align: baseline;
  }

  li, ol {
    list-style: none;
  }

  body, html {
	width: 100%;
	min-width: 100%;
	height: 100%;
	min-height: 100%;
	font-family: Montserrat,Helvetica,Arial,serif;
  font-weight: 400;
  line-height: 1.45;
	max-width: 100%;
	font-weight: 400;
}
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
/**
  * Remove the margin in all browsers.
  */
  body {
  margin: 0;
  color: #6e6b7b;
  background: #f8f8f8;
}

  /* FRAME WORK
========================================================================== */
.border-orange {
  border: 1px solid #f89d47;
}
.border-blue {
  border: 1px solid #39c2dd;
}
.border-purple {
  border: 1px solid #6a68af;
}
.text-orange {
  color: #f89d47;
}
.text-purple {
  color: #6a68af;
}
.text-blue {
  color: #39c2dd;
}
.page-wrapper {
  padding: 120px 2rem 0 2rem;
}
.body p {
    line-height: 1.5rem;
}

.registration-section {
    width: 100%;
    min-height: 100%;
    height: 100%;
}

.registration-section .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    min-height: 100vh;
    height: 100vh;
    width: 100%;
}
.registration-section .left-column,
.registration-section .right-column {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.registration-section .left-column {
    width: 65%;
    background: #f7f7f7;
}
.registration-section .right-column {
    width: 35%;
    background-color: white;
}

.registration-content-frame {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 70%;
    min-width: 400px;
}
.registration-content-frame form {
    width: 100%;
}

.registration-content-frame h1 {
    font-family: Montserrat-Medium;
    font-size: 1.714rem;
    color: #5e5873;
}
.registration-content-frame h1 span {
  color: #7367f0;
}
.registration-content-frame h2 {
  font-size: 1.3rem;
  letter-spacing: 3px;
  margin-bottom: 2rem;
}

.registration-content-frame p {
    margin-bottom: 2rem;
}

#registration-form .form-group,
#login-form .form-group,
#change-password-form .form-group,
#create-new-recipe-form .form-group,
#user-info-form .form-group,
#create-material-form .form-group {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 1rem;
}
#registration-form button,
#login-form button,
.submit-button,
.create-new-recipe,
.create-entry {
    display: block;
    border-color: #7367f0;
    background-color: #7367f0;
    text-align: center;
    border: 1px solid transparent;
    padding: 0.786rem 1.5rem;
    border-radius: 0.358rem;
    width: 100%;
    color: white;
    font-weight: 500;
    font-size: 1rem;
    margin-top: 1rem;
}
.submit-button {
  width: 150px;
}
label {
    color: #5e5873;
    margin-bottom: 0.2857rem;
}
.content {
    width: 100%;
    text-align: center;
    padding: 25px 0;
}

input {
    padding: 0 1rem;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #d8d6de;
    border-radius: 0.357rem;
    width: 100%;
    height: 43px;
    box-sizing: border-box;
    display: block;
    width: 100%;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.45;
    color: #6e6b7b;
}
textarea {
    padding: 1rem;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #d8d6de;
    border-radius: 0.357rem;
    width: 100%;
    box-sizing: border-box;
    display: block;
    width: 100%;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.45;
    color: #6e6b7b;
}
.input-frame {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

input#repeatPassword,
input#password,
input#newPassword {
    width: calc(100% - 43px);
    border-right: none;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0
}

.show-password-frame, .show-alert-frame {
    border-top: 1px solid #d8d6de;
    border-right: 1px solid #d8d6de;
    border-bottom: 1px solid #d8d6de;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0.357rem;
    border-top-right-radius: 0.357rem;
    width: 43px;
    height: 41px;
    display: flex;
    justify-content: center;
    align-items: center;
}
input:focus {
    border-color: #7367f0;
    box-shadow: none;
}

input:focus + .show-password-frame {
    border-color: #7367f0;
}

.register-button:hover,
.submit-button:hover {
    cursor: pointer;
    background-color: #5e50ee;
    -webkit-box-shadow: 0 8px 25px -8px #7367f0;
    box-shadow: 0 8px 25px -8px #7367f0;
}

.feather-eye {
   stroke: #6e6b7b;
}

.content.already-have-account {
    color: #6e6b7b;
    font-size: 1.17rem;
}

.content.already-have-account a {
    color: #7367f0;
}
.content.already-have-account a:hover {
    color: #5e50ee;
}

.text-danger {
    color:#ea5455;
    display: none;
}
.text-danger.active {
    display: block;
}
#email.invalid-email,
.show-alert-frame.invalid-email {
    border-color: #ea5455;
}
.invalid-icon {
    fill: #ea5455;
    position: absolute;
    display:none;
    right: 15px;
}

.invalid-icon.active {
    display: block;
}

.input-frame.email {
    position: relative;
}

.label-link-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.label-link-wrapper a {
    color: #7367f0;
}

.label-link-wrapper a:hover {
    color: #5e50ee;
}
.remember-me-frame {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.remember-me {
    margin-left: 15px;
}
#remember-me {
    -moz-appearance:none;
    -webkit-appearance:none;
    -o-appearance:none;
    width: 1.285rem;
    height: 1.285rem;
    border: 1px solid #d8d6de;
}

.navbar-main {
  top: 0;
  left:0;
  box-sizing: border-box;
  position: fixed;
  width: 100%;
  height: 80px;
  padding: 0 2rem;
  background-color:white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  -webkit-box-shadow: 0 4px 24px 0 rgb(34 41 47 / 10%);
  box-shadow: 0 4px 24px 0 rgb(34 41 47 / 10%);
}

.navbar-main .column {
  width: 33.33333%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar-main .column-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}
.navbar-main .column-right ul.primary {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.user-frame {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.user-details {
  display: flex;
  justify-content:center;
  align-items: flex-end;
  flex-direction: column;
}

.user-profile-picture {
  position: relative;
  height: 45px;
  background: #7367F6;
  width: 45px;
  border-radius: 50%;
  margin-left: 20px;
}
.user-name {
  font-weight: 600;
  line
}
.job-role {
  line-height: 1;
}
.active-user {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: #28c76f;
  border: 2px solid white;
  position: absolute;
  bottom: -2px;
  right: -3px;
}

.user-frame:hover {
  cursor: pointer;
}

.dropdown-menu {
  position: absolute;
  top: calc(100% + 5px);
  z-index: 10;
  display: none;
  min-width: 10rem;
  font-size: 1rem;
  color: #6e6b7b;
  padding: 0.5rem 0;
  margin: 0 0 0;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(34,41,47,.05);
  border-radius: 0.358rem;
  box-shadow: 0 5px 25px rgb(34 41 47 / 10%);
  width: 13rem;
  margin-top: 35px;
  right: 0;
  visibility: hidden;
}
.dropdown-menu.active {
  visibility: visible;
  margin-top: 10px;
  transition: .3s;
}

.dropdown-menu li,
.options-dropdown li {
  height: 50px;
  width: 100%;
}

.dropdown-menu li a,
.options-dropdown li a {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 100%;
  clear: both;
  text-align: inherit;
  background-color: transparent;
  border: 0;
  width: auto;
  cursor: pointer;
  font-weight: 400;
  color: #6e6b7b;
  white-space: nowrap;
}

.dropdown-menu li a svg,
.options-dropdown li a svg {
  margin-right: 10px;
  margin-left: 25px
}

.dropdown-menu li a:hover,
.options-dropdown li a:hover {
  background-color: rgba(115,103,240,.12);
  color: #7567F6;
}

.dropdown-menu li a:hover svg
.options-dropdown li a:hover svg {
  stroke: #7567F6;
}

.dropdown-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card {
  padding: 1.5rem;
  border: none;
  margin-bottom: 2rem;
  -webkit-box-shadow: 0 4px 24px 0 rgb(34 41 47 / 10%);
  box-shadow: 0 4px 24px 0 rgb(34 41 47 / 10%);
  background-color: white;
  border-radius: 0.428rem;
}

.card.user-profile {
  width: 400px;
}

.card.reset-password {
  width: 900px;
}

.page-wrapper.change-password {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}


.table-wrapper {
  width: 100%;
  box-shadow: 0 4px 24px 0 rgb(34 41 47 / 10%);
  background-color: #fff;
  background-clip: border-box;
  border-radius: 0.428rem;
}

.btn-primary.create-new-recipe {
  width: 170px;
  margin: 0;
}
.btn-primary {
  display: block;
  border-color: #7367f0;
  background-color: #7367f0;
  text-align: center;
  border: 1px solid transparent;
  padding: 0.786rem 1.5rem;
  border-radius: 0.358rem;
  width: 100%;
  color: white;
  font-weight: 500;
  font-size: 1rem;
}
.btn-primary:hover {
  cursor: pointer;
  -webkit-box-shadow: 0 8px 25px -8px #7367f0;
  box-shadow: 0 8px 25px -8px #7367f0;
}



.table-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 1.5rem;
}
.table-header .left-column,
.table-header .right-column {
  width: 50%;
}
.table-header .right-column {
  display: flex;
  justify-content: center;
  align-items: center;
}

.recipe-search-bar {
  margin-right: 1rem;
  width: 100%;
}

.table.recipes {
  border-collapse: collapse;
  width: 100%;
}

.table.recipes thead tr th {
  background-color: #f3f2f7;
  text-align: left;
  background-position: right 0.36rem center;
  padding-right: calc(0.72rem + 0.65em);
  padding: 0.72rem 2rem;
  background-repeat: no-repeat;
  background-size: 0.65em 1em;
  cursor: pointer;
  border-bottom: 2px solid #ebe9f1;
  border-top: 1px solid #ebe9f1;
  vertical-align: top;
  text-transform: uppercase;
  font-size: .857rem;
  letter-spacing: .5px;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='26'%3E%3Cg stroke='%23C6C4D0' stroke-width='2' fill='none' fill-rule='evenodd' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M1 19l6 6 6-6M13 7L7 1 1 7'/%3E%3C/g%3E%3C/svg%3E");
}
.table.recipes thead tr th:last-of-type {
  background-image: none;
  text-align: center;
}

.table.recipes tbody tr td {
  padding: 0.72rem 2rem;
  border-top: 1px solid #ebe9f1;
  vertical-align: middle;
}
.table.recipes tbody tr td:nth-child(-n+3) {
  cursor: pointer;
}
.table.recipes tbody tr td:nth-child(5) {
  cursor: pointer;
}
.media-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  text-transform: capitalize;
}
.media-box .user-face {
  width: 32px;
  height: 32px;
  background: #7367F6;
  border-radius: 50%;
  margin-right: 1rem;
}

.title-icon-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}
.title-icon-box h1 {
  font-weight: 600;
  color: #5E5873;
  font-size: 1.87rem;
  margin-left: 15px;
}
.header p {
  font-size: 1.5rem;
  font-weight: 200;
  margin-left: 3px;
  color: #6e6b7b;
  margin-top: 10px;
}
.header p b {
  color: #7367F6;
  font-weight: 500;
}

.page-wrapper.new-recipe form {
  padding-top: 50px;
}

.create-new-recipe-form .field-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
}
.create-new-recipe-form textarea {
  min-height: 400px;
  max-height: 400px;
  resize: none;
}
.field-wrapper .column-left,
.field-wrapper .column-right {
  width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.field-wrapper .column-left {
  padding-right: 20px;
}
.field-wrapper .column-right {
  padding-left: 20px;
}
.field-wrapper .column-right .form-group {
  width: 100%;
}
.field-wrapper .column-left .form-group {
  width: 100%;
}

.create-new-recipe-form .btn-primary {
  width: 180px;
}

.video-link-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}
.video-link-box:hover,
.options-reveal-box:hover {
  cursor: pointer;
}
.video-link-box svg {
  margin-right: 8px
}
.video-link-box a {
  color: #6e6b7b;
}

.options-reveal-box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.options-dropdown {
    position: absolute;
    top:0;
    z-index: 10;
    min-width: 10rem;
    font-size: 1rem;
    color: #6e6b7b;
    padding: 0.5rem 0;
    margin: 0 0 0;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(34,41,47,.05);
    border-radius: 0.358rem;
    box-shadow: 0 5px 25px rgb(34 41 47 / 10%);
    width: 10rem;
    margin-top: 35px;
    right: 0;
    visibility: hidden;
}


.options-reveal-box.active .options-dropdown {
  visibility: visible;
  transition: .3s;
}

.table.recipes tbody tr:hover {
  background: rgba(115,103,240,.12);
}
.card.user-profile-picture-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 550px;
  height: 250px;
}

.card.user-profile-picture-box .picture-box {
  background-color: #7367f0;
  height: 140px;
  width: 140px;
  border: 5px solid #6e6b7b;
  position: relative;

  border: 0.357rem solid #f8f8f8;
  background-color: #fff;
  border-radius: 0.428rem;
  -webkit-box-shadow: 0 4px 24px 0 rgb(34 41 47 / 10%);
  box-shadow: 0 4px 24px 0 rgb(34 41 47 / 10%);
}

.camera-upload {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  background-color: #f3f3f9;
  position: absolute;
  right: 3px;
  bottom: 7px;
}
.name-role-box {
  margin-top: 25px;
  text-align: center;
}
.name-role-box h5 {
  font-size: 1.286rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  color: #5e5873;
}
.page-wrapper.profile {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.page-wrapper.profile .card {
  margin-right: 2rem;
  min-width: 590px;
}

.static-navbar-entry {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position:absolute;
  top: 25px;
  left: 0;
  width: 100%;
  height: 72px;
}

.static-navbar-entry svg { 
 margin-left: 50px;
}

.static-navbar-entry h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-left: 25px;
}

#image{
  width: 300px;
}
.card h4 {
  font-weight: 500;
  font-size: 1.285rem;
  margin-bottom: 1.5rem;
}

.card.greeting-date {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.card.greeting-date h3{
  font-size: 2.5rem;
}
.card.greeting-date h2 {
  font-size: 3rem;
}
.page-wrapper.machine-selection h1 {
  font-weight: 500;
  color: #636363;
  font-size: 1.714rem;
  line-height: 1.2;
}

.setup-machine-btn {
  height: 180px;
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 1.285rem;
  margin-right: 2rem;
  border-width: 3px;
}

.setup-machine-btn.border-orange:hover {
  background: #f89d47;
  color: white;
}
.setup-machine-btn.border-purple:hover {
  background: #6a68af;
  color: white;
}
.setup-machine-btn.border-blue:hover {
  background: #39c2dd;
  color: white;
}
.setup-option-box {
  display: flex;
  width: 100%;
}
a.storm {
  height: 400px;
  width: 400px;
  background-color: green;
}
.card.machine-setup-options h1 {
  margin-bottom: 1rem;
}
.card.machine-setup-options p {
  margin-bottom: 2rem;
}

.content-header-title {
  font-weight: 500;
  color: #636363;
  border-right: 1px solid #d6dce1;
  font-size: 1.714rem;
  line-height: 1.2;
  margin-bottom: 1.5rem;
}

.page-wrapper.admin-panel {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.column-wrapper {
  width: 100%;
  display: flex;
}
.page-wrapper.admin-panel .column-left,
.page-wrapper.admin-panel .column-right {
  width: 50%;
  display: flex;
}

.page-wrapper.admin-panel .column-left {
  flex-direction: column;
  width: 25%;
  padding-right: 2rem;
}
.page-wrapper.admin-panel .column-right {
  width: 75%;
}
.page-wrapper.admin-panel .column-right .card {
  width: 100%;
}

.admin-options li span {
  font-size: 1rem;
  line-height: 1rem;
  color: #5e5873;
  font-weight: 500;
}

.admin-options li {
  padding: 0.786rem 1.5rem;
}
.admin-options li:hover {
  cursor: pointer;
}

.admin-options li.active {
  color: white;
  border-color: #7367f0;
  -webkit-box-shadow: 0 4px 18px -4px rgb(115 103 240 / 65%);
  box-shadow: 0 4px 18px -4px rgb(115 103 240 / 65%);
  background-color: #7367f0;
  border-radius: 0.358rem;
}
.admin-options li.active span {
  color: white;
}

.materials-table,
.finish-table,
.machines-table {
  display: none;
}

.materials-table.active,
.finish-table.active,
.machines-table.active {
  display: block;
}
