@media only screen and (min-width: 1700px) {
    .material-card-section .card {
        width: calc(25% - 1rem);
    }
}

@media only screen and (min-width: 2200px) {
    .material-card-section .card {
        width: calc(20% - 1rem);
    }
}
  

@media only screen and (max-width: 1100px) {
    .material-card-section .card {
        width: calc(50% - 1rem);
    }
}

@media only screen and (max-width: 950px) {
    .material-card-section .card {
        width: calc(100% - 1rem);
    }
    .material-card-section {
        justify-self: center;
    }
}