


.workflow-navigation {
	margin: 10px 0;
}
.workflow-order-header ul {
	width: 100%;
}
.workflow-order-header ul li {
	width: 12.5%;
	/* height: 54px; */
	height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  box-sizing: border-box;
  font-size: 18px;
  width: 100%;
  font-weight: 600;
  border-bottom: 2px solid #e5e5e4;
  flex-grow: 1;
}
.navigation-list {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: row;
}

/* BLUE TEXT */
.border-blue {
	border-color: #157efb;
}

/* RED TEXT */
.border-red {
	border-color: #ea5455;
}

/* PURPLE TEXT */
.border-purple {
	border-color: #7367f0;
}

/* GREEN TEXT */
.border-green {
	border-color: #28c76f;
}

/* ORANGE TEXT */
.border-orange {
	border-color: #ff8510;
}

/* LIGHT BLUE TEXT */
.border-light-blue {
	border-color: #00cfe8;
}

/* YELLOW TEXT */
.border-yellow {
	border-color: #ffcb00;
}

/* MAGENTA TEXT */
.border-magenta {
	border-color: #f74875;
}

/* WHITE TEXT */
.border-white {
	border-color: white;
}

/* DARK GREY TEXT */
.border-dark-grey {
	border-color: #676879;
}






.tooltip {
  position: relative;
}

.tooltip .tooltiptext {
	font-size: 16px;
	visibility: hidden;
	min-width: 120px;
	background-color: #323338;
	color: #fff;
	text-align: center;
	border-radius: 3px;
	padding: 10px 0;
	position: absolute;
	z-index: 1;
	bottom: 150%;
	left: 50%;
	margin-left: -60px;
	opacity: 0;
	transition: opacity 0.3s;
}
.tooltip .tooltiptext::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -7px;
	border-width: 7px;
	border-style: solid;
	border-color: #323338 transparent transparent transparent;
}
.tooltip:hover .tooltiptext {
	visibility: visible;
	opacity: 1;
	transition-delay:.5s;
}

.btn-filter .tooltiptext {
	width: 175px;
	margin-left: -80px;
}
.sort-wrapper .tooltiptext {
	width: 185px;
	margin-left: -90px;
}
.person-filter-wrapper .tooltiptext {
	width: 150px;
	margin-left: -75px;
}
.column-td-e .tooltiptext {
	width: 170px;
	margin-left: -85px;
}

.dropdown {
	position: absolute;
	box-shadow: 0 4px 17px 6px rgb(0 0 0 / 10%);
	padding: 16px;
	border-radius: 8px;
}

.dropdown {
	background-color: white;
	visibility: hidden;
	z-index: 0;
	opacity: 0;
	top: calc(100% + 10px);
	max-width: 800px;
	/* min-width: 600px; */
}
.quick-filter-dropdown,
.advanced-filter-dropdown {
	left: 0;
}
.person-filter-dropdown	{
	left: -120px;
	max-width: 432px;
	min-width: 400px;
	max-height: 500px;
	overflow: auto;
}
.sort-dropdown {
	left: 10px;
	max-width: 432px;
	min-width: 400px;
	max-height: 500px;
	overflow: auto;
}

.quick-filter-dropdown.active,
.advanced-filter-dropdown.active,
.person-filter-dropdown.active,
.sort-dropdown.active {
	visibility: visible;
	opacity: 1;
}

.person-filter-wrapper {
	position: relative;
}


.sort-wrapper.active .btn-sort {
	background-color: #cce5ff;
}

.table,
.table-header,
.table-body,
.table-row,
.column-header,
.column-td {
	width: 100%;
}
.table-header {
    padding: 0;
	/* height: 40px; */
}
.column-td {
	/*background-color: white;*/
}
.table-row {
	background-color: #f8f8f8;
	height: 43px;
	margin-bottom: 3px;
	position: relative;
}
.column-header {
	color: #323338;
	font-weight: 600;
}
.column-td,
.column-header {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.column-td {
	height: 35px;
	font-weight: 500;
}
.column-td-c,
.column-header-c {
	justify-content: flex-start;
}
.column-td-a,
.column-header-a {
	width: 25px;
	margin: 0 5px;
  	width: calc(30px - 10px);
}
.column-td-a .fa-ellipsis-vertical {
	font-size: 20px;
}
.column-td-b,
.column-header-b {
	margin-right: 5px;
	width: calc(50px - 5px);
}
.column-td-c,
.column-header-c {
	width: calc(100% - 1034px);
	padding-left: 15px;
}
.column-td-c {
	font-size: 20px;
	font-weight: 600;
}
.column-td-d,
.column-header-d {
	width: calc(160px - 10px);
	margin: 0 5px 0 5px;
	font-weight: 600;
}
.column-td-e,
.column-header-e {
	width: 194px;
	width: calc(194px - 5px);
	margin-right: 5px;
	font-size: 16px;
}

.column-td-f,
.column-td-g,
.column-td-h,
.column-td-i,
.column-header-f,
.column-header-g,
.column-header-h,
.column-header-i {
	width: calc(150px - 5px);
	margin-right: 5px;
}
.column-td-a .fa-ellipsis-vertical {
	opacity: 0;
}
.column-td-a {
	position: relative;
}
.column-td-a:hover {
	cursor: pointer;
}
.column-td-a:hover .fa-ellipsis-vertical {
	opacity: 1;
}
.view-tickets .header  {
	/* margin: 10px 0 10px 0!important; */
}

.category-header {
	font-weight: 400;
}

.column-td-e .machine-name {
	width: 70px;
}

.user-cell {
	height: 30px;
	width: 30px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	font-size: 12px;
	margin-right: 10px;
}



.status-section {
	position: relative;
	/* margin-bottom: 30px; */
}
.status-section h3 { 
	margin-bottom: 0;
	font-size: 22px;
}

.expanded-options-btn {
	margin-right: 5px;
	font-size: 20px;
}

.expanded-options-btn:hover {
	cursor: pointer;
}

.green-master .column-td-a {
	background-color: #28c76f;
}
.green-master .column-td-c {
	color: #28c76f;
}
.green-master .category-header {
	color: #28c76f;
}
.green-master .column-td-a:hover {
	background-color: #1f9d57;
}
.green-master .side-bumper {
	background-color: #28c76f;
}


.purple-master .column-td-c {
	color: #7367f0;
}
.purple-master .category-header {
	color: #7367f0;
}
.purple-master .column-td-a {
	background-color: #7367f0;
}
.purple-master .column-td-a:hover {
	background-color: #5e50ee;
}
.purple-master .side-bumper {
	background: #7367f0;
}


.light-blue-master .column-td-c {
	color: #00cfe8;
}
.light-blue-master .category-header {
	color: #00cfe8;
}
.light-blue-master .column-td-a {
	background-color: #00cfe8;
}
.light-blue-master .column-td-a:hover {
	background-color: #00b8cf;
}
.light-blue-master .side-bumper {
	background: #00cfe8;
}


.orange-master .column-td-c {
	color: #ff8510;
}
.orange-master .category-header {
	color: #ff8510;
}
.orange-master .column-td-a {
	background-color: #ff8510;
}
.orange-master .column-td-a:hover {
	background-color: #f67800;
}
.orange-master .side-bumper {
	background: #ff8510;
}


.red-master .column-td-c,
.onhold-status .column-td-c {
	color: #ea5455;
}
.red-master .category-header,
.onhold-status .category-header {
	color: #ea5455;
}
.red-master .column-td-a,
.onhold-status .column-td-a {
	background-color: #ea5455;
}
.red-master .column-td-a:hover,
.onhold-status .column-td-a {
	background-color: #e42728;
}
.red-master .side-bumper,
.onhold-status .side-bumper {
	background: #ea5455;;
}


.group-lines {
	position: absolute;
    left: -18px;
    top: -30px;
    width: 12px;
    height: 52px;
  }
  .purple-master .group-lines {
	border-left: 1px solid #8f85f3;
	border-bottom: 1px solid #8f85f3;
  }
  .red-master .group-lines,
  .onhold-status .group-lines {
	border-left: 1px solid #f29899;
	border-bottom: 1px solid #f29899;
  }
  .green-master .group-lines {
	border-left: 1px solid #5DDE97;
	border-bottom: 1px solid #5DDE97;
  }
  .orange-master .group-lines {
	border-left: 1px solid #ffb56f;
	border-bottom: 1px solid #ffb56f;
  }
  .light-blue-master .group-lines {
	border-left: 1px solid #00cfe8;
	border-bottom: 1px solid #00cfe8;
  }
  .product-wrapper:first-of-type .table-row .group-lines {
	/* height: 73px;
	top: -52px; */
	height: 50px;
    top: -29px;
  }
  
  .red-master .table-row-wrapper.active .ticket-products-wrapper .column-td-a {
	background-color: #f29899;
  }
  .red-master .table-row-wrapper.active .ticket-products-wrapper .column-td-c {
	color:#f29899;
  }
  .green-master .table-row-wrapper.active .ticket-products-wrapper .column-td-a {
	background-color: #5DDE97;
  }
  .green-master .table-row-wrapper.active .ticket-products-wrapper .column-td-c {
	color:#5DDE97;
  }
  .purple-master .table-row-wrapper.active .ticket-products-wrapper .column-td-a {
	background-color: #aba3f6;
  }
  .purple-master .table-row-wrapper.active .ticket-products-wrapper .column-td-c {
	color:#aba3f6;
  }
  .orange-master .table-row-wrapper.active .ticket-products-wrapper .column-td-a {
	background-color: #ffb56f;
  }
  .orange-master .table-row-wrapper.active .ticket-products-wrapper .column-td-c {
	color:#ffb56f;
  }
  .light-blue-master .table-row-wrapper.active .ticket-products-wrapper .column-td-a {
	background-color: #1ce7ff;
  }
  .light-blue-master .table-row-wrapper.active .ticket-products-wrapper .column-td-c {
	color:#1ce7ff;
  }
  
  
  .red-master .product-wrapper .table-row:hover .column-td-c {
	color: #ea5455;
  }
  .red-master .product-wrapper .table-row:hover .column-td-a {
	background-color: #ea5455;
  }
  .green-master .product-wrapper .table-row:hover .column-td-c {
	color: #28c76f;
  }
  .green-master .product-wrapper .table-row:hover .column-td-a {
	background-color: #28c76f;
  }
  .purple-master .product-wrapper .table-row:hover .column-td-c {
	color: #7367f0;
  }
  .purple-master .product-wrapper .table-row:hover .column-td-a {
	background-color: #7367f0;
  }
  .orange-master .product-wrapper .table-row:hover .column-td-c {
	color: #ff8510;
  }
  .orange-master .product-wrapper .table-row:hover .column-td-a {
	background-color: #ff8510;
  }
  .light-blue-master .product-wrapper .table-row:hover .column-td-a {
	background-color: #00cfe8;
  }
  
  


.header-description h1 {
	font-weight: 700;
	line-height: 2.5rem;
}

.workflow-order-header ul li:hover {
	cursor: pointer;
}
.workflow-order-header ul li.active {
	border-bottom: 4px solid #157efb;
}

.expanded-options-btn {
	width:16px; 
	height: 16px; 
	border-radius:50%; 
	color: white; 
	font-size: 14px;
}

.status-section .expanded-options-btn:hover {
	background-color: transparent;
}
.green-master .expanded-options-btn:hover {
	color: #28c76f;
}

.green-master .expanded-options-btn {
	border: 1px solid #28c76f;
	background-color: #28c76f;
}

.purple-master .expanded-options-btn:hover {
	color: #7367f0;
}

.purple-master .expanded-options-btn {
	border: 1px solid #7367f0;
	background-color: #7367f0;
}


.light-blue-master .expanded-options-btn:hover {
	color: #00cfe8;
}

.light-blue-master .expanded-options-btn {
	border: 1px solid #00cfe8;
	background-color: #00cfe8;
}

.orange-master .expanded-options-btn:hover {
	color: #ff8510;
}

.orange-master .expanded-options-btn {
	border: 1px solid #ff8510;
	background-color: #ff8510;
}

.red-master .expanded-options-btn:hover,
.onhold-status .expanded-options-btn:hover {
	color: #ea5455;
}

.red-master .expanded-options-btn,
.onhold-status .expanded-options-btn {
	border: 1px solid #ea5455;
	background-color: #ea5455;
}

.expanded-options-wrapper {
	position: relative;
}

.expanded-options-dropdown,
.ticket-dropdown-options {
	position: absolute;
	background-color: white;
	box-shadow: 0 4px 17px 6px rgb(0 0 0 / 10%);
	padding: 0;
	min-width: 264px;
	width: 264px;
	border-radius: 8px;
	top: calc(100% - 10px);
	transition: .3s;
	z-index: 99;
	left: 0;
}
.expanded-options-wrapper.active .expanded-options-dropdown ,
.column-td-a.active .ticket-dropdown-options {
	opacity: 1;
	visibility: visible;
	/* top: calc(100% + 10px); */
	top: 100%;
	transition: .3s;
}

.column-td-a.active .fa-ellipsis-vertical {
	opacity: 1;
}
.ticket-dropdown-options .line {
	height: 1px;
	background-color: #e6e9ef;
	width: 100%;
	margin: 7px 0;
}
.expanded-options-dropdown ul,
.ticket-dropdown-options ul {
	padding: 8px;
}
.expanded-options-dropdown li,
.ticket-dropdown-options li {
    line-height: 24px;
    border-radius: 4px;
    padding: 4px 8px;
    color: #676879;
}
.ticket-dropdown-options li a {
	color: #676879;
}
.expanded-options-dropdown li:hover,
.ticket-dropdown-options li:hover {
	background-color: #dcdfec;
	cursor: pointer;
}

.expanded-options-dropdown li i,
.ticket-dropdown-options li i {
	margin-right: 8px;
}
.btn {
	height: 54px;
	width: 160px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid transparent;
	padding: 0;
	box-sizing: border-box;
	font-size: 18px;
	font-weight: 600;
}

button:hover {
	cursor: pointer;
	transition: .3s;
}

.btn:hover {
	cursor: pointer;
	transition: .3s;
}

/* BLUE BUTTONS */
.bg-blue {
	background-color: #157efb;
}
.bg-blue:hover {
	background-color: #0465d9;
}

.btn-outline-blue {
	border:2px solid #157efb;
	background: none;
	color: #157efb;
}
.btn-outline-blue:hover {
	background-color: #157efb;
	border-color: #157efb;
	color: white;
}

/* RED BUTTONS */
.bg-red {
	background-color: #ea5455;
}
.bg-red:hover {
	background-color: #e42728;
}

.btn-outline-red {
	border:2px solid #ea5455;
	background: none;
	color: #ea5455;
}
.btn-outline-red:hover {
	background-color: #ea5455;
	border-color: #ea5455;
	color: white;
}

.bg-white {
	background-color: white;
}


/* PURPLE BUTTONS */
.bg-purple {
	background-color: #7367f0;
}
.bg-purple:hover {
	background-color: #5e50ee;
}

.btn-outline-purple {
	border:2px solid #7367f0;
	background: none;
	color: #7367f0;
}
.btn-outline-purple:hover {
	background-color: #7367f0;
	border-color: #7367f0;
	color: white;
}

/* GREEN BUTTONS */
.bg-green {
	background-color: #28c76f;
}
.bg-green:hover {
	background-color: #1f9d57;
}

.btn-outline-green {
	border:2px solid #28c76f;
	background: none;
	color: #28c76f;
}
.btn-outline-green:hover {
	background-color: #28c76f;
	border-color: #28c76f;
	color: white;
}

/* ORANGE BUTTONS */
.bg-orange {
	background-color: #ff8510;
}
.bg-orange:hover {
	background-color: #f67800;
}

.btn-outline-orange {
	border:2px solid #ff8510;
	background: none;
	color: #ff8510;
}
.btn-outline-orange:hover {
	background-color: #ff8510;
	border-color: #ff8510;
	color: white;
}

/* LIGHT BLUE BUTTONS */
.bg-light-blue {
	background-color: #00cfe8;
}
.bg-light-blue:hover {
	background-color: #00b8cf;
}

.btn-outline-light-blue {
	border:2px solid #00cfe8;
	background: none;
	color: #00cfe8;
}
.btn-outline-light-blue:hover {
	background-color: #00cfe8;
	border-color: #00cfe8;
	color: white;
}

/* YELLOW BUTTONS */
.bg-yellow {
	background-color: #ffcb00;
}
.bg-yellow:hover {
	background-color: #e6b700;
}

.btn-outline-yellow {
	border:2px solid #ffcb00;
	background: none;
	color: #ffcb00;
}
.btn-outline-yellow:hover {
	background-color: #ffcb00;
	border-color: #ffcb00;
	color: white;
}

/* MAGENTA BUTTONS */
.bg-magenta {
	background-color: #f74875;
}
.bg-magenta:hover {
	background-color: #f51750;
}

.btn-outline-magenta {
	border: 2px solid #f74875;
	background: none;
	color: #f74875;
}
.btn-outline-magenta:hover {
	background-color: #f74875;
	border-color: #f74875;
	color: white;
}

/* SPLIT BUTTON */
.split-btn-frame:hover .btn-split,
.split-btn-frame:hover .btn-split-arrow-dropdown {
	cursor: pointer;
	transition: .3s;
}
.filter-btn-wrapper:hover .btn-split,
.filter-btn-wrapper:hover .btn-advanced-filter {
	background-color: #dcdfec;
	transition: .3s;
}
.btn-split,
.btn-split-arrow-dropdown {
	padding: 9px 10px;
	font-size: 14px;
}

/*.split-btn-frame.btn-filter .btn-split,
.split-btn-frame.btn-filter .btn-split-arrow-dropdown {
	background: transparent;
}*/
.btn-split {
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	border: 1px solid transparent;
	margin-right: 1px;
}
.btn-split i {
	margin-right: 7px;
}
.btn-split-arrow-dropdown {
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	border: 1px solid transparent;
}

.btn-split-arrow-dropdown:hover {
	background-color: #c3c6d4!important;
}

.btn-create, 
.btn-person-filter,
.btn-sort,
.search-wrapper {
	height: 33px;
	min-width: 100px;
	border-radius: 3px;
	line-height: 16px;
}
.btn-person-filter,
.btn-sort,
.search-wrapper {
	margin: 0 7px;
}
.btn-create {
	margin: 0 7px 0 0;
}
.search-wrapper i {
	margin-left: 10px;
	width: 20px;
}
.btn-person-filter {
	position: relative;
}

.toast {
	background-color: #333;
}
.btn-person-filter .toast {
	color: white;
	position: absolute;
	padding: 5px 10px;
	top: -100%;
	width: 100%;
	left: 50%;

}

.btn-person-filter:hover,
.btn-sort:hover,
.search-wrapper:hover {
	background-color: #dcdfec;
	cursor: pointer;
}

.btn-filter.active .quick-filter.btn-split,
.btn-filter.active .btn-advanced-filter.btn-split-arrow-dropdown,
.btn-person-filter.active {
	background-color: #cce5ff;
}

.quick-filter.btn-split.active,
.filter-btn-wrapper.active .btn-advanced-filter.btn-split-arrow-dropdown,
.filter-btn-wrapper.active .quick-filter.btn-split {
	background-color: #cce5ff!important;
}

.quick-filter.btn-split.active + .btn-advanced-filter.btn-split-arrow-dropdown:hover,
.btn-advanced-filter.btn-split-arrow-dropdown.active + .quick-filter.btn-split:hover,
.quick-filter.btn-split.active:hover,
.btn-advanced-filter.btn-split-arrow-dropdown.active:hover {
	background-color: #cce5ff!important;
}


.search-wrapper input {
	border: none;
	height: 28px;
	width: 60px;
	padding: 0;
	background-color: unset;
    padding-left: 5px;
    width: 60px;
    transition: background-color .1s cubic-bezier(0, 0, 0.35, 1),width .1s cubic-bezier(0, 0, 0.35, 1);
    border: unset;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-radius: 4px;
    outline: none;
    box-sizing: border-box;
    cursor: pointer;
}

.search-wrapper.active {
	border: 1px solid #157efb;
}
.search-wrapper.active:hover {
	background-color: transparent;
}

.search-wrapper input.active {
	padding-right: 0;
	width:  190px;
}

.status-section-f .expanded-options-btn:hover {
	color: #82868b;
}

.status-section-f .expanded-options-btn {
	border: 1px solid #82868b;
	background-color: #5d6064;
}

.status-section-f .column-td-c {
	color: #82868b;
}
.status-section-f .category-header {
	color: #82868b;
}
.status-section-f .column-td-a {
	background-color: #82868b;
}
.status-section-f .column-td-a:hover {
	background-color: #5d6064;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
	margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}

h1.display-1 {
	font-size: 5rem;
}
h1.display-2 {
	font-size: 4.5rem;
}
h1.display-3 {
	font-size: 4rem;
}
h1.display-4 {
	font-size: 3.5rem;
}
h1.display-5 {
	font-size: 3rem;
}
h1.display-6 {
	font-size: 2.5rem;
}

/* BLUE TEXT */
.text-blue {
	color: #157efb;
}

/* RED TEXT */
.text-red {
	color: #ea5455;
}

/* PURPLE TEXT */
.text-purple {
	color: #7367f0;
}

/* GREEN TEXT */
.text-green {
	color: #28c76f;
}

/* ORANGE TEXT */
.text-orange {
	color: #ff8510;
}

/* LIGHT BLUE TEXT */
.text-light-blue {
	color: #00cfe8;
}

/* YELLOW TEXT */
.text-yellow {
	color: #ffcb00;
}

/* MAGENTA TEXT */
.text-magenta {
	color: #f74875;
}

/* WHITE TEXT */
.text-white {
	color: white;
}

/* DARK GREY TEXT */
.text-dark-grey {
	color: #676879;
}

h1 {
	font-size: 2.5rem;
}

h2 {
	font-size: 2rem;
}

h3 {
	font-size: 1.75rem;
}

h4 {
	font-size: 1.5rem;
}

h5 {
	font-size: 1.25rem;
}

h6 {
	font-size: 1rem;
}




.side-bumper {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 5px;
	border-top-left-radius: 0.428rem;
	border-bottom-left-radius: 0.428rem;
  }