#shipping-location-form {
    .double-column-container {
        display: flex;
        justify-content: space-between;
        align-content: center;
        flex-direction: row;
        .input-wrapper {
            width: 49%;
            input {
                width: 100%;
            }
        }
    }
    .triple-column-container {
        display: flex;
        justify-content: space-between;
        align-content: center;
        flex-direction: row;
        .input-wrapper {
            width: 32%;
            input {
                width: 100%;
            }
        }
    }
}
