#quote-input-section {
    background-color: white;
    margin: 10px 25px;
    padding: 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .left-section {
        background-color: greenyellow;
        width: 70%;
    }

    .right-section {
        background-color: orange;
        width: 30%;
    }
}