#quote-input-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .left-section {
        width: 70%;
    }

    .right-section {
        width: 30%;

        .row-one {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .card {
                width: calc(50% - 7.5px);
            }
        }

        .row-three {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
    }
}