#create-update-product-page-wrapper {

    .quad-column-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;

        .custom-select-container {
            width: 23%;
        }
    }
    .triple-column-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;

        .custom-select-container {
            width: 32%;
            .input-wrapper {
                width: 100%;
            }
        }
    }
}
