.shipping-location-card {
  background-color: white;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  div.column-td {
    width: 9%;
    max-width: 9%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 45px;
    overflow-x: hidden;
  }
}