.flash-message-container {
  z-index: 999;
  color: rgb(255, 255, 255);
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 460px;
  max-height: calc(100% - 60px);
  margin-right: 25px;
  display: flex;
  position: fixed;
  bottom: 60px;
  right: 0px;
  overflow-x: scroll;
  .clear-all-btn {
    background-color: white;
    padding: 5px 10px;
    width: 200px;
    border-radius: 15px;
    margin-bottom: 15px;
    -webkit-box-shadow: 0 4px 24px 0 rgb(34 41 47 / 10%);
    box-shadow: 0 4px 24px 0 rgb(34 41 47 / 10%);
    position: fixed;
    bottom: 0;
    &:hover {
      background-color: #dcdfec;
    }
    &:focus {
      background-color: #cce5ff;
    }
  }
  .success-flash-message {
    background-color: #28c76f;
    .fa-regular.fa-close {
      background-color: #28c76f;
    }
  }
  .error-flash-message {
    background-color: rgb(223, 47, 74);
    .fa-regular.fa-close {
      background-color: rgb(223, 47, 74);
    }
  }
}


.flash-message {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-box-shadow: 0 4px 24px 0 rgb(34 41 47 / 10%);
  box-shadow: 0 4px 24px 0 rgb(34 41 47 / 10%);
  padding: 15px 25px;
  border-radius: 5px;
  width: 460px;
  height: 100px;
  min-height: 100px;
  position: relative;
  transition: .3s;
  .fa-solid.fa-xmark-large {
    &:hover {
      cursor:default;
    }
  }
  .fa-regular.fa-close {
    position: absolute;
    height: 25px;
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    right: 15px;
    top: 15px;
    border: 1px solid rgba(240,240,240,1);
    &:hover {
      background-color: rgba(240,240,240, .3);
      border: none;
      cursor: pointer;
    }
  }
  .flash-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    width: 410px;

    .flash-content {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
      margin-left: 10px;
      width: 365px;
      max-height: 65px;
      overflow: hidden;
      text-overflow: ellipsis;

    }
    h6 {
      margin-bottom: 0;
      font-weight: bold;
    }
    .circle-container {
      width: 45px;
      .circle-background {
        background-color: rgba(240,240,240, .3);
        height: 45px;
        width: 45px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      i {
        font-size: 25px;
      }
    }
  }
  .bottom-bumper {
    background-color: rgba(240,240,240, .3);
    width: 100%;
    position: absolute;
    height: 10px;
    bottom: 0;
    left: 0;
  }
  &:hover {
    height: auto;
    transition: .3s;

    .flash-content {
      overflow: visible;
      height: auto;
      max-height: 400px;
      overflow-y: scroll;
      transition: .3s;
    }
  }
}






