.qty-input {
    width: 144px;
    border:none;
    border-radius: 2px;
    background-color: white;
    text-align: center;
    color: #7367F0;
    font-size: 18px;
    font-weight: bold;
    height: 30px;
    width: 80%;
    padding: 0;
}