.row-body {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 56px;
    border-top: 1px solid #ebe9f1;

    &:hover {
        background-color: rgba(115, 103, 240, .12);
    }

    .row-cell {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}