.modal-content {
    position: relative;
    .header {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }
}
#address-form {
    .triple-column-container {
        display: flex;
        justify-content: space-between;
        align-content: center;
        flex-direction: row;
        .input-wrapper {
            width: 32%;
            input {
                width: 100%;
            }
        }
    }
}