.filter-btn {
    width: 146px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f6f8;
    border-radius: 3px;
    margin-bottom: 5px;
    color: #323338;

    &:hover {
        background-color: rgba(103, 104, 121, 0.1);
        cursor: pointer;
    }
}
.filter-active {
    background-color: #cce5ff;
    &:hover {
        background-color: #aed4fc;
    }
}

.filter-description {
    color: #676879;
}

.quick-filter-drpdwn {
    position: absolute;
    box-shadow: 0 4px 17px 6px rgb(0 0 0 / 10%);
    padding: 16px;
    border-radius: 8px;
    background-color: white;
    visibility: hidden;
    z-index: 0;
    opacity: 0;
    top: calc(100% + 10px);
    // max-width: 800px;
    min-width: 600px;

    h5 {
        font-size: 1.05rem;
    }
}
.advanced-filter-dropdown {
    background-color: white;
}

.search-wrapper {
    padding-right: 15px;
    height: 34px;
    position: relative;
    overflow-x:hidden;

    &:focus-within {
        border:1px solid #0073ea;
    }
    .fa-light.fa-xmark {
        position: absolute;
        top: 7px;
        right: 5px;
        visibility: hidden;
        border-radius: .428rem;
        justify-content: center;
        align-items: center;
        width: 20px;
        height: 20px;
        display: flex;
        font-size: 14px;
    }
    
}
.search-wrapper.active {
    &:hover {
        background-color: white;
    }
    input {
        width: 170px;
    }
    .fa-light.fa-xmark {
        visibility: visible;
    }

}
.search-wrapper.has-text {
    background-color: #cce5ff;

    &:hover {
        background-color: #cce5ff;
    }
}

.all-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

