.navbar-main {
    top: 0;
    left:0;
    box-sizing: border-box;
    position: fixed;
    width: 100%;
    height: 80px;
    /* padding-left: 2rem;
    padding-right: 2rem; */
    padding-left: 15px;
    padding-right: 15px;
    background-color:white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    -webkit-box-shadow: 0 4px 24px 0 rgb(34 41 47 / 10%);
    box-shadow: 0 4px 24px 0 rgb(34 41 47 / 10%);
    z-index: 61;

    .column {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .column-left {
        width: 15%;
        font-size: 27px;
        color: var(--primary-text-color);
        font-weight: bold;
        svg {
            height: 45px;
            margin-right: 7px;
        }
    }
    .column-center {
        width: 70%;
        .feather-chevron-down {
            margin-left: 7px;
            margin-right: 0!important;
        }
       .navbar-links {
            border-radius: 5px;
            margin-right: 10px;
            a {
                border-radius: 5px;
                padding: 12px 20px;
                &:hover {
                    background-color: rgba(var(--primary-dark-background), var(--opacity-1));
                    transition: .3s;
                    cursor: pointer;
                }
                svg {
                    margin-right: 7px;
                }
            }
            a.active {
                color: rgba(var(--primary-purple-text-color));
                background-color: rgba(var(--action-background), .12);
            }
            a, div.recipes {
                color: rgba(var(--primary-text-color),var(--opacity-10));
                font-size: 1rem;
                font-weight: 400;
            }
            .div.recipes {
                svg {
                    margin-right: 7px;
                }
            }
            .material, .recipes, .insights {
                padding: 12px 20px;
            }
            .fa-toilet-paper, .fa-light, .fa-chart-network, .fa-table-tree,
            .fa-react, .fa-wave-pulse {
                font-size: 20px;
                margin-right: 7px;
            }
            .tickets {
                .fa-sharp {
                    font-size: 20px;
                    margin-right: 7px;
                    transform: rotate(90deg);
                }
            }
        }
    }
    .column-right {
        width: 15%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        ul.primary {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            height: 45px;
            li {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 45px;
                color: rgba(var(--primary-text-color),var(--opacity-10));
                
                .notification-counter {
                    position: absolute;
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    background: #ea5455;
                    color: white;
                    right: 15px;
                    top: 0;
                    font-size: 13px;
                    font-family: sans-serif;
                    padding-top: 1px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
            li.secondary-navbar-links {
                width: 45px;
                border-radius: 5px;
                margin-right: 5px;
                .navbar-icon {
                    margin-right: 0;
                }
                &:hover {
                    background-color: rgba(var(--primary-dark-background), var(--opacity-1));
                }
            }
            li.secondary-navbar-links.active {
                color: rgba(var(--primary-purple-text-color));
                background-color: rgba(var(--action-background), .12);
            }
        }
    }
    .user-frame {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        img {
            height: 45px;
            width: 45px;
            border-radius: 50%;
        }

        &:hover {
            cursor: pointer;
        }
    }
    .user-details {
        display: flex;
        justify-content:center;
        align-items: flex-end;
        flex-direction: column;
    }
    .user-profile-picture {
        position: relative;
        height: 45px;
        // background: #7367F6;
        background: #2F2B3D;
        width: 45px;
        border-radius: 50%;
    }
    .sidebar-main {
        .user-profile-picture {
            background: #f8f8f8;
            margin-left: 0;
            width: 35px;
            height: 35px;
        }
    }
    .user-name {
        font-weight: 600;
    }
    .job-role {
        line-height: 1;
    }
    .active-user {
        height: 15px;
        width: 15px;
        border-radius: 50%;
        background-color: #28c76f;
        border: 2px solid white;
        position: absolute;
        bottom: -2px;
        right: -3px;
    }
    #recipe-dropdown-trigger,
    #material-dropdown-trigger,
    #insights-dropdown-trigger {
        position: relative;
    }
    .navbar-links {
        .fa-cubes-stacked, .fa-layer-group, .fa-list-timeline {
            font-size: 22px;
            margin-left: 15px;
            margin-right: 10px;
        }
    }
    .dropdown-menu {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: absolute;
        top: calc(100% + 5px);
        z-index: 10;
        min-width: 10rem;
        font-size: 1rem;
        color: #2F2B3D;
        margin: 0 0 0;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid rgba(34,41,47,.05);
        border-radius: 0.358rem;
        box-shadow: 0 5px 25px rgb(34 41 47 / 10%);
        right: 0;
        padding: .5rem .5rem 0 .5rem;
        visibility: hidden;
    }
    .dropdown-menu.user-options {
        width: 13rem;
        transform: scale(0);
        right: 10px;
        transform-origin: right top;
        top: 95%;
        transition: .2s;
        padding: 0;
        .user-options-dropdown-header {
            height: 70px;
            width: 100%;
            padding: 0.5rem;
            .user-options-dropdown-header-container {
                height: 100%;
                width: 100%;
                display: flex;
                justify-content: center;
                align-content: center;
                flex-direction: row;
                &:hover {
                    background-color: #f3f2f3;
                    border-radius: 5px;
                    cursor: pointer;
                }
                .user-picture-column {
                    width: 55px;
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    .user-picture-container {
                        display: flex;
                        justify-content: center;
                        align-items: flex-start;
                        position: relative;
                        .user-picture-background {
                            background-color: #2f2b3d;
                            height: 45px;
                            width: 45px;
                            border-radius: 50%;
                            img {
                                width: 45px;
                                height: 45px;
                                border-radius: 50%;
                            }
                            .active-indicator {
                                background-color: #28c76f;
                                border: 2px solid #fff;
                                border-radius: 50%;
                                width: 15px;
                                height: 15px;
                                position: absolute;
                                bottom: -2px;
                                right: -3px;
                            }
                        }
                    }
                }
                .user-title-column {
                    width: calc(100% - 55px);
                    display: flex;
                    justify-content: center;
                    align-items: flex-start;
                    flex-direction: column;
                    padding-left: 10px;
                    .user-name {
                        font-size: 12px;
                        font-weight: 600;
                        margin-bottom: 3px;
                        color: #2f2b3d;
                    }
                    .user-title {
                        font-size: 12px;
                        font-weight: 400;
                        color: #2f2b3d;
                    }
                }
            }
        }
        .line-divide {
            height: 1px;
            background-color: rgba(47, 43, 61, .12);
            width: calc(100% - 1rem);
        }
        .user-options-list {
            padding: 0.5rem;
            width: 100%;
            li {
                font-size: 15px;
                border-radius: 5px;
                margin-bottom: 2px;
                i {
                    margin-right: 10px;
                    margin-left: 15px;
                    font-size: 15px;
                }
                a { 
                    font-size: 15px;
                    border-radius: 5px;
                    &:hover {
                        background-color:#f3f2f3;
                    }
                }
                a.active {
                    color: rgba(var(--primary-purple-text-color), 1);
                    background-color: rgba(var(--action-background), .12);
                    &:hover {
                        color: rgba(var(--primary-purple-text-color), 1);
                        background-color: rgba(var(--action-background), .12);
                    }
                }
            }
        }
        .user-logout-footer {
            width: 100%;
            padding: 0.5rem;
            button {
                height: 42px;
                width: 100%;
                background-color: rgba(255, 76, 81, 1);
                color: white;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 5px;
                &:hover {
                    background-color: #e64449;
                }
                i {
                    margin-left: 10px;
                }
            }
        }
    }
    .dropdown-menu.notification-teaser {
        width: 380px;
        top: 95%;
        .header {
            width: 100%;
            height: 58px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            padding: 0.5rem;
            font-weight: bold;
            .left {
                width: 80%;
                padding-left: 25px;
            }
            .right {
                width: 20%;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                .notification-mark-all-wrapper {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 45px;
                    width: 45px;
                    border-radius: 50%;
                    margin-right: 25px;
                    &:hover {
                        background-color: #f3f2f3;
                    }
                    i {
                        margin-right: 0;
                        font-size: 20px;
                    }
                }
            }
        }
        .notification-body {
            width: 100%;
            border-top: 1px solid #f3f2f3;
            border-bottom: 1px solid #f3f2f3;
            max-height: 290px;
            overflow-y: scroll;

            li {
                height: 92px;
                border-bottom: 1px solid #f3f2f3;
                &:hover {
                    background-color: #f3f2f3;
                }
            }
        }
        .footer {
            height: 58px;
            width: 100%;
            padding: 0.5rem;
            a {
                height: 42px;
                font-size: 15px;
                width: 100%;
            }
        }
    }
    .dropdown-menu.shortcut-options {
        width: 380px;
        .header {
            width: 100%;
            height: 58px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            padding: 0.5rem;
            font-weight: bold;
            .left {
                width: 80%;
                padding-left: 25px;
            }
            .right {
                width: 20%;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                .shortcut-controls-container {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: row;
                    margin-right: 25px;
                    .carousel-control {
                        height: 30px;
                        width: 30px;
                        border-radius: 5px;
                        &:hover {
                            background: #f3f2f3;
                        }
                    }
                    i {
                        font-size: 17px;
                        margin:0;
                        &:nth-child(1) {
                            margin-right: 5px;
                        }
                    }
                }
                .notification-mark-all-wrapper {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 45px;
                    width: 45px;
                    border-radius: 50%;
                    margin-right: 25px;
                    &:hover {
                        background-color: #f3f2f3;
                    }
                    i {
                        margin-right: 0;
                        font-size: 20px;
                    }

                }
                
            }
        }
        .carousel-container {
            position: relative;
            width: 100%;
            height: 402px;
            overflow-x: hidden;
            .shortcut-body-create, .shortcut-body-view, .shortcut-body-purchase {
                position: absolute;
                width: 100%;
                border-top: 1px solid #f3f2f3;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: row;
                flex-wrap: wrap;
                width: 100%;
                li {
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    width: 50%;
                    height: 100px;
                    font-size: 14px;
                    font-weight: bold;
                    display: flex;

                    &:nth-child(odd) {
                        border-right: 1px solid rgba(47, 43, 61, .12);
                        border-bottom: 1px solid rgba(47, 43, 61, .12);
                        padding: .5rem .5rem .5rem 0;
                    }
                    &:nth-child(even) {
                        border-bottom: 1px solid rgba(47, 43, 61, .12);
                        padding: .5rem 0 .5rem .5rem;
                    }
                    &:last-of-type {
                        width: 100%;
                        border: none;
                        padding: .5rem 0 .5rem 0;
                    }
                    a {
                        border-radius: 5px;
                        justify-content: center;
                        align-items: center;
                        width: 100%;
                        height: 100%;
                        display: flex;
                        &:hover {
                            color: #2F2B3D;
                            cursor: pointer;
                            background-color: rgba(var(--primary-dark-background), .12);
                        }
                    }
                    a.active {
                        background-color: rgba(var(--action-background), var(--opacity-1));
                        color: rgba(var(--primary-purple-text-color), 1);
                    }

                }
            }
        }
    }
    .dropdown-menu.user-options.active,
    .dropdown-menu.notification-teaser.active,
    .dropdown-menu.shortcut-options.active {
        visibility: visible;
        top: calc(100% + 15px);
        -moz-transform: scale(1);
        -webkit-transform: scale(1);
        transform: scale(1);
        transform-origin: right top;
        transition: .3s;
    }
}