.material-card-section {
  .card.low-inventory {
    // color: white!important;
    // background-color: #e42728;
    // .card-header h2 {
    //   color: white!important;
    //   background-color: #ea5455!important;
    // }
    // .icon-container {
    //   i, div {
    //     color: white!important;
    //     background-color: #ea5455!important;
    //   }
    // }
    // .material-location {
    //   color: white!important;
    //   background-color: #ea5455!important;
    // }
    // .divide-line {
    //   background-color: white!important;
    // }
    .card-header h2 {
      background-color: #e42728;
      color: white;
    }
  }
}

.material-card-section {
  .card.low-inventory-warning {
    // color: white!important;
    // background-color: #ff8510;
    // .card-header h2 {
    //   color: white!important;
    //   background-color: #f67800!important;
    // }
    // .icon-container {
    //   i, div {
    //     color: white!important;
    //     background-color: #f67800!important;
    //   }
    // }
    // .material-location {
    //   color: white!important;
    //   background-color: #f67800!important;
    // }
    // .divide-line {
    //   background-color: white!important;
    // }
    .card-header h2 {
      background-color: #f67800;
      color: white;
    }
    .actual-vs-ordered-container .col-left h2 {
      color: #f67800; 
    }
  }
}

.material-card-section {
  .card {
    margin-bottom: 1rem;
    width: calc(33.333% - 12px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 15px 30px;
    box-sizing: border-box;
    height: 230px;
    max-width: 500px;
    position: relative;
    .material-location-container {
      position: absolute;
      height: 30px;
      bottom: 0;
      left: 0;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      .span-wrapper {
        position: relative;
        height: 30px;
        width: 100%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        .material-location {
          position: absolute;
          background: rgba(115, 103, 240, .12);
          color: rgba(115, 103, 240, 1);
          display: flex;
          justify-content: center;
          align-items: center;
          bottom: -30px;
          height: 30px;
          min-width: 60px;
          max-width: 100%;
          width: auto;
          white-space: nowrap;
          padding: 0 7px 0 7px;
          border-top-right-radius: 5px;
          border-top-left-radius: 5px;
          transition: .3s;
        }
      }
    }

    &:hover {
      cursor: pointer;
      .material-location-container {
        .span-wrapper {
          .material-location {
            bottom: 0;
            transition: .3s;
          }
        }
      }
      .card-header {
        .col-right {
          .material-card-options-container {
            .icon-container {
              i, .po-counter {
                top: 0;
                transition: .3s;
              }
            }
          }
        }
      }
    }
    .card-header {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      .col-right {
        position: relative;
        height: 42px;
        .material-card-options-container {
          position: absolute;
          display: flex;
          justify-content: center;
          align-items: center;
          transition: .3s;
          .icon-container {
            position: relative;
            height: 35px;
            width: 35px;
            overflow: hidden;
            i, .po-counter {
              display: flex;
              justify-content: center;
              align-items: center;
              height: 35px;
              width: 35px;
              border-radius: 5px;
              position: absolute;
              top:-35px;
              transition: .3s;
            }
            .po-counter.active {
              &:hover {
                background: rgba(var(--alert-success), .12);
                color: rgba(var(--alert-success), 1);
              }
            }
          }
        }
      }
      h2 {
        margin-bottom: 0px;
        font-weight: bold;
        background: rgba(115, 103, 240, .12);
        color: rgba(115, 103, 240, 1);
        border-radius: 5px;
        padding: 5px 15px;
      }
      .material-option {
        border-radius: 5px;
      }
      .material-width-container {
        margin-left: 7px;
        .material-width {
          color: rgba(128,131,144,1);
          background-color: rgba(128,131,144,.12);
          font-size: 12px;
        }
      }
      .po-container {
        .po-counter {
          color: rgba(128,131,144,1);
          background-color: rgba(128,131,144,.12);
        }
      }
      .po-container.enabled {
        .po-counter {
          background-color: rgba(var(--primary-green), .12);
          color: rgba(var(--primary-green), 1);
          &:hover {
            background-color: rgba(var(--primary-green), .24);
          }
        }
      }
      .open-ticket-container {
        margin: 0 7px;
        i {
          color: rgba(128,131,144,1);
          background-color: rgba(128,131,144,.12);
        }
      }
      .open-ticket-container.enabled {
        i {
          color: rgba(var(--primary-blue),var(--opacity-10));
          background-color: rgba(var(--primary-blue), .12);
          &:hover {
            background-color: rgba(var(--primary-blue), .24);
          }
        }
      }
      .edit-container {
        i {
          color: rgba(128,131,144,1);
          background-color: rgba(128,131,144,.12);
          &:hover {
            background-color: rgba(var(--primary-dark-background), var(--opacity-2));
          }
        }
      }
      .po-container.disabled, .open-ticket-container.disabled {
        .po-counter, i {
          &:hover {
            cursor: not-allowed;
          }
        }
      }
    }
    .material-description {
        font-size: 20px;
        font-weight: 400;

      .material-name {
        color: rgba(var(--primary-text-color),var(--opacity-7));
      }
    }
    .actual-vs-ordered-container {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      margin-top: 25px;
      position: relative;
      .divide-line {
        width: 1px;
        height: 80px;
        background-color: rgba(var(--primary-dark-background), var(--opacity-2));
      }
      .col {
        span {
          color: rgba(var(--primary-text-color),var(--opacity-9));
        }
        h2 {
          font-weight: bold;
          color: rgba(var(--primary-text-color),var(--opacity-9)); 
        }
      }
    }
  }
}
.modal-content {
  width: 100%;
  height: 100%;
  border-radius: 0.428rem;
  padding: 28px 32px 56px 32px;
  .title-wrapper {
    display: flex;
    justify-items: flex-start;
    align-items: flex-end;
    flex-direction: row;
    h4 {
      color: rgb(87, 155, 252);
      margin-bottom: 0;
      margin-right: 15px;
    }
  }
  .purchase-order-info-wrapper {
    max-height: 100%;
    overflow-y: scroll;
    .po-table {
      margin-top: 15px;
      .tb-header,
      .tb-row {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: row;
        border-radius: 5px;
        .tb-cell {
          border: 1px solid #d0d4e4;
          margin-right: -1px;
          margin-top: -1px;
          display: flex;
          justify-content: center;
          align-items: center;
          height: 36px;
        }
        .cell-one {
          width: 30%;
          position: relative;
          .pulse-indicator {
            position: absolute;
            left: 0;
            top: 0;
            width: 7px;
            height: 36px;
            background-color: rgb(87, 155, 252);
            margin-top: -1px;
          }
        }
        .cell-two {
          width: 23.333%;
        }
        .cell-three {
          width: 23.333%;
        }
        .cell-four {
          width: 23.333%;
        }
      }
      .tb-header {
        .tb-cell {
          &:first-of-type {
            border-radius: 5px 0 0 0;
          }
          &:last-of-type {
            border-radius: 0 5px 0 0;
          }
        }
      }
      .tb-row:last-of-type {
        .tb-cell {
          &:first-of-type {
            border-radius: 0 0 0 5px;
            .pulse-indicator {

              border-radius: 0 0 0 5px;
            }
          }
          &:last-of-type {
            border-radius: 0 0 5px 0;
          }
        }
      }
      .tb-header {
        .cell-one {
          border-left: 0;
          .pulse-indicator {
            position: absolute;
            border-radius: 5px 0 0 0;
            margin-top: -1px;
          }
        }
      }
      .tb-row {
        &:hover {
          background-color: rgba(0, 0, 0, .1);
        }
        .cell-one {
          .pulse-indicator {
            position: absolute;
            margin-left: -1px;
          }
        }
        .tb-row {
          &:last-of-type {
            .tb-cell:nth-child(1) {
              .pulse-indicator {
                position: absolute;
                margin-left: -1px;
                border-radius: 0 5px 0 0;
              }
            }
          }
        }
      }
    }
  }
}
.fa-light.fa-xmark {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 15px;
  top: 10px;
  height: 28px;
  width: 32px;
  border-radius: 0.428rem;
  &:hover {
    background-color: rgba(103, 104, 121, 0.1);
    cursor: pointer;
  }
}
.po-container {
  display: flex;
  &.modal-active {
    .modal-background {
      display: flex;
    }
  }
}