.input-wrapper:has(> input[type=checkbox]) {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}
input[type=checkbox] {
    width: 30px;
    height: 30px;
}
