<div class='column-td bg-white <%= columnSelector %>'>
    <div class='user-cell bg-blue tooltip assignee-picture-url-column'>TODO
        <!-- User Image Tag Below to propigate user image -->
        <img src=''>
        <span class="tooltiptext assignee-name-column">TODO</span>
    </div>
    <span class='department-name department-column'>N/A</span>
</div>