<% const destination = ticket.destination %> 
<% const assignedUser = destination && destination.assignee %> 

<div class='column-td bg-white'>
    <div class='user-cell bg-blue tooltip assignee-picture-url-column'>
        <%= helperMethods.getUserInitials(assignedUser) %>
        <!-- User Image Tag Below to propigate user image -->
        <% if (assignedUser) { %>
            <img src='<%= helperMethods.getProfilePictureUrl(assignedUser) %>'>
        <% } %>
        <span class="tooltiptext assignee-name-column"><%= assignedUser ? assignedUser.fullName : 'N/A' %> </span>
    </div>
    <span class='department-name department-column'><%= destination ? destination.department : 'N/A' %></span>
</div>