.dropdown-options {
  display: none;
  position: absolute;
  min-width: 160px;
  overflow: auto;
  z-index: 1;
  top: 42px;
  left: 0;
  z-index: 10;
  min-width: 10rem;
  font-size: 1rem;
  color: #6e6b7b;
  padding: 0.5rem 0;
  margin: 0 0 0;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(34, 41, 47, .05);
  border-radius: 0.358rem;
  box-shadow: 0 5px 25px rgb(34 41 47 / 10%);
  width: 10rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 7px;
}
.dropdown-btn {
  position: relative;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  &:hover {
    cursor: pointer;
    background-color: rgba(248,247,250);
  }
  .radial {
    position: absolute;
    width: 0;
    height: 0;
    transition: .2;
    border-radius: 50%;
    z-index: 1;
  }

  svg {
    z-index: 2;
  }
  &.active {
    .radial {
      width: 100%;
      height: 100%;
      transition: .2s;
      background-color: white;
    }
  }
}

.row-actions {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.dropdown-options.show {
  display: flex;
}