.forgot-password-frame {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    .forgot-password-container {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .col-left {
            width: 66.6666%;
            position: relative;
            .eli-welcome-splash {
                width: 60%;
            }
            .gray-background-shape {
                position: absolute;
                bottom: -87px;
                width: 100%;
            }
        }
        .col-right {
            width: 33.3333%;
            background-color: white;
            .forgot-password-form-container {
                width: 400px;
                .submit-button {
                    width: 100%;
                }
                p {
                    margin: 10px 0 20px;
                    font-weight: lighter;
                }
            }
        }
        .col-left, .col-right {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}