#quote-cost-summary {
    background-color: #7367F0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        &:nth-child(1){
            margin-bottom: 5px;
        }
        &:nth-child(2) {
            border: 0;
        }
        .header, .cell {
            color: white;
        }
    }
}