.crud-navigation-page {
    margin-top: 80px; 
    padding: 15px;

    // .card.test1 {
    //     display: flex;
    //     justify-content: center;
    //     align-items: center;
    //     flex-direction: row;
    //     flex-wrap: wrap;
    //     .span {
    //         width: 140px;
    //         height: 140px;
    //         border: 1px solid rgba(115, 103, 240, 1);
    //         border-radius: 5px;
    //         margin: 15px;
    //         display: flex;
    //         justify-content: center;
    //         align-items: center;
    //         flex-direction: column;
    //         .icon-frame {
    //             display: flex;
    //             justify-content: center;
    //             align-items: center;
    //             background: rgba(115, 103, 240, .2);
    //             border-radius: 5px;
    //             height: 50px;
    //             width: 50px;
    //             margin-bottom: 15px;
    //             i {
    //                 font-size: 20px;
    //                 color:rgba(115, 103, 240, 1);
    //             }
    //         }
    //     }
    // }

    // .card.test2 {
    //     width: 200px;
    //     display: flex;
    //     justify-content: center;
    //     align-items: center;
    //     flex-direction: column;
    //     padding: 0;

    //     .icon-frame {
    //         display: flex;
    //         justify-content: center;
    //         align-items: center;
    //         // background: #6e6b7b;
    //         border-radius: 5px;
    //         height: 50px;
    //         width: 100%;
    //         background-color: red;
    //         margin-bottom: 15px;
    //         i {
    //             font-size: 40px;
    //         }

    //     }

    //     button {
    //         background-color: rgba(115, 103, 240, .2);
    //         color: rgba(115, 103, 240, 1);
    //         height: 42px;
    //         width: 156px;
    //     }
    // }

    // .left-panel-card {
    //     width: 150px;
    //     min-height: 500px;
    //     display: flex;
    //     justify-content: flex-start;
    //     align-items: center;
    //     flex-direction: column;
    //     padding: .5rem;

    //     .create-button-frame {
    //         width: 100%;
    //         display: flex;
    //         justify-content: center;
    //         align-items: center;
    //         flex-direction: column;
    //         height: 100px;
    //         border-radius: 5px;
    //         font-size: 14px;
    //         font-weight: bold;
    //         i {
    //             font-size: 25px;
    //             margin-bottom: 10px;
    //         }

    //         &:hover {
    //             background-color: rgba(115, 103, 240, .2);
    //             color: rgba(115, 103, 240, 1);
    //             cursor: pointer;
    //         }
    //     }
    // }

    .container {
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        flex-direction: row;
    }
    .left-panel-card {
        width: 380px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: .5rem;

        .header {
            flex-direction: row;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 58px;
            padding: .5rem;
            font-weight: bold;
            display: flex;
            .left {
                width: 80%;
                padding-left: 25px;
            }
            .right {
                justify-content: flex-end;
                align-items: center;
                width: 20%;
                display: flex;
                i {
                    margin-right: 25px;
                }
            }
        }

        .body{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            border-top: 1px solid #f3f2f3;
            .create-button-frame {
                width: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                height: 100px;
                font-size: 14px;
                font-weight: bold;
                padding: .5rem;
                .hover-frame {
                    width: 100%;
                    height: 100%;
                    border-radius: 5px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    &:hover {
                        background-color: rgba(115, 103, 240, .2);
                        color: rgba(115, 103, 240, 1);
                        cursor: pointer;
                    }
                }
                &:nth-child(odd) {
                    border-bottom: 1px solid #2f2b3d1f;
                    border-right: 1px solid #2f2b3d1f;
                }
                &:nth-child(even) {
                    border-bottom: 1px solid #2f2b3d1f;
                }
                &:last-of-type {
                    width: 100%;
                    border: none;
                }
                i {
                    font-size: 25px;
                    margin-bottom: 10px;
                    display: none;
                }
            }
        }
    }
}

