/* TABLE FRAMEWORK */
.tbl-pri {
    width: 100%;
    .tbl-hdr {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;

        .tbl-cell {
            &:first-of-type {
                border-radius: 5px 0 0 0;
                .pulse-indicator {
                    border-radius: 5px 0 0 0;
                }
            }
            &:last-of-type {
                border-radius: 0 5px 0 0;
                .pulse-indicator {
                    border-radius: 0 0 5px 0;
                }
            }
        }
    }
    .tbl-row {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        &:last-of-type {

            .tbl-cell {
                &:first-of-type {
                    border-radius: 0 0 0 5px;
                    .pulse-indicator {
                        border-radius: 0 0 0 5px;
                    }
                }
                &:last-of-type {
                    border-radius: 0 0 5px 0;
                }
            }
        }
    }
    .tbl-cell {
        // width: 120px;
        flex: 1;
        border: 1px solid #d0d4e4;
        justify-content: center;
        align-items: center;
        height: 36px;
        margin-top: -1px;
        margin-right: -1px;
        display: flex;
        position: relative;
        .pulse-indicator {
            background-color: #579bfc;
            width: 7px;
            height: 36px;
            margin-top: -1px;
            position: absolute;
            top: 0;
            left: 0;
        }
    }
}