.fullscreen-modal-background {
  z-index: 99;
  background-color: #292f4cb3;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;

  .modal-box {
    background: #fff;
    border-radius: .428rem;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    width: calc(100% - 64px);
    height: calc(100% - 64px);
    display: flex;
    position: relative;

    .close-modal {
      border-radius: .428rem;
      justify-content: center;
      align-items: center;
      width: 32px;
      height: 28px;
      display: flex;
      position: absolute;
      top: 17px;
      right: 15px;
      font-size: 20px;
      z-index: 8;

      &:hover {
        cursor: pointer;
        background-color: #6768791a;
      }
    }

    .modal-header {
      height: 64px;
      width: 100%;
      border-bottom: 1px solid rgba(103, 104, 121, 0.1);
      position: relative;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding: 15px 50px;

      h1 {
        margin-bottom: 0;
        font-weight: bold;
        color: #7367f0;
        font-size: 25px;

        span {
          font-weight: 100;
        }
      }
    }

    .modal-body {
      background-color: rgb(248, 247, 250);
      height: calc(100% - 64px);
      max-height: calc(100% - 64px);
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: column;
      overflow-y: scroll;
      padding: 25px 50px;
      border-bottom-left-radius: .428rem;
      border-bottom-right-radius: .428rem;

      .body-header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;

        .box {
          margin-bottom: 1rem;
          width: calc(33.333% - 12px);
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;
          background-color: white;
          border-radius: 10px;
          padding: 15px 30px;
          box-sizing: border-box;
          height: 100px;
          max-width: 500px;
          -webkit-box-shadow: 0 4px 24px 0 rgb(34 41 47 / 10%);
          box-shadow: 0 4px 24px 0 rgb(34 41 47 / 10%);
        }
      }

      .left-body {
        width: 20%;
        height: 100%;
      }

      .right-body {
        width: 80%;
        height: 100%;
      }
    }
  }
}